<script>
  import api from "tools/api";
  import Group from "forms/Group.svelte";
  import Spacer from "components/Spacer.svelte";
  import Content from "components/Content.svelte";
  import Topbar from "forms/Topbar.svelte";
  import FloatingMenu from "components/FloatingMenu.svelte";
  import text from "./_translation.js";
  import Loader from "components/Loader.svelte";
  import { user } from "store/auth.js";
  import { toast } from "@zerodevx/svelte-toast";

  let template = [];
  let isLoading = true;
  let activeGroup = 0;
  let templateSlug = "template_master";
  let slide = { json_data: {} };
  let requestSent = false;
  api.get("/api/v1/templates/template_master/").then((data) => {
    template = data.template;
    templateSlug = data.slug;
    isLoading = false;
  });
  $: menu = template.reduce((memo, item) => [...memo, item.name], []);
  const onSubmit = async () => {
    isLoading = true;
    try {
      await api.post("/api/v1/slides/save/", {
        body: {
          name: `Заявка на шаблон от ${$user.userData?.username}`,
          template: templateSlug,
          is_published: true,
          ...slide,
        },
      });
      requestSent = true;
    } catch (err) {
      toast.push(err);
    } finally {
      isLoading = false;
    }
  };
</script>

<Topbar menu={requestSent ? [] : menu} bind:activeGroup />
<Content>
  {#if isLoading}
    <Loader />
  {:else if requestSent}
    <h1 class="requestSent">{$text("REQUEST_SENT")}</h1>
    <h2>{$text("MANAGER_WILL_CONTACT_YOU")}</h2>
    <div class="submitContainer">
      <a href="/cabinet" class="submitButton">{$text("GO_BACK")}</a>
    </div>
  {:else}
    <form name={templateSlug} on:submit|preventDefault={onSubmit}>
      {#each template as group, index}
        <Group
          {group}
          {index}
          bind:activeGroup
          bind:jsonData={slide.json_data}
        />
        <Spacer size={16} />
      {/each}
      <Spacer size={16} />
      <div class="submitContainer">
        <button type="submit" class="submitButton">{$text("SEND")}</button>
      </div>
    </form>
  {/if}
</Content>
<Spacer size={16} />
<FloatingMenu bind:slide />

<style>
  h1 {
    text-align: center;
    margin: 20vmin 0 5vmin 0;
  }
  h2 {
    text-align: center;
    margin: 5vmin 0 20vmin 0;
    opacity: 0.7;
  }
  .submitButton {
    background: #ffaf00;
    box-shadow: 0px 20px 50px rgba(255, 175, 0, 0.21);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    padding: 16px 32px;
    cursor: pointer;
    border: none;
  }
  .submitContainer {
    display: flex;
    justify-content: center;
  }
  .submitButton:hover{
    text-decoration: none;
  }
</style>
