<script>
  import { onMount } from "svelte";
  import { apiUrl } from "config";
  import html2canvas from "html2canvas";
  import {params} from '@roxi/routify'
  let containerRef;
  let html = "";
  fetch(`${apiUrl}/api/v1/slides/${$params.slug}/html`, { credentials: "include" })
    .then(res => res.text())
    .then(data => {
      html = data;
    });

  const getPreview = () => {
    html2canvas(containerRef, {
      scale: 0.3,
      useCORS: true,
      allowTaint: true,
      logging: true,
      taintTest: false
    })
      .then(canvas => {
        return new Promise((resolve, reject) => {
          canvas.toBlob(
            blob => {
              const formData = new FormData();
              formData.append("preview", blob, "preview.png");
              fetch(`${apiUrl}/api/v1/slides/${$params.slug}/update/`, {
                credentials: "include",
                method: "PATCH",
                body: formData
              })
                .then(resolve)
                .catch(reject);
            },
            "image/jpeg",
            0.95
          );
        });
      })
      .finally(() => parent.postMessage("previewDone", "*"));
  };
  
  const renderTemplate = () => {
    if (!html) {
      return setTimeout(renderTemplate, 100);
    }
    containerRef
      .querySelectorAll("script")
      .forEach(item => eval(item.innerHTML));
    getPreview();
  };
  onMount(() => {
    renderTemplate();
  });
</script>

<div bind:this={containerRef} class="container">
  {@html html}
</div>

<style>
  .container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
</style>
