<script>
  import { params, goto } from "@roxi/routify";
  import { apiUrl } from "config";
  import Input from "../_components/Input.svelte";
  import text from "../../_translation.js";
  import Spacer from "components/Spacer.svelte";
  import Header from "../_components/Header.svelte";
  import Flex from "../_components/FlexContainer.svelte";
  import { toast } from "@zerodevx/svelte-toast";

  let pass;
  const sendRequest = () => {
    fetch(`${apiUrl}/api/auth/email/restore/complete/`, {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        uid: $params.uid,
        token: $params.token,
        password: pass,
      }),
    })
      .then((res) => res.json())
      .then((data) => {
          if(data.msg=== "ok"){
            $goto("/auth/login");
          } else {
            toast.push(Object.values(data).join(' '))
          }
      });
  };
</script>

<div class="login">
  <Header>{$text("ENTER_NEW_PASS")}</Header>
  <Spacer size={48} />
  <Input placeholder={$text("NEW_PASS")} bind:value={pass} type="password" />
  <Spacer size={16} />
  <Flex>
    <button class="filled" on:click={sendRequest}>{$text("CONFRIM")}</button>
  </Flex>
</div>

<style>
  .login {
    max-width: 380px;
  }
  .filled {
    background: var(--yellow);
    flex: 1 1 120px;
    border: none;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
  }
</style>
