<script>
  import { goto } from "@roxi/routify";
  import { user } from "store/auth";
  import Spacer from "components/Spacer.svelte";
  import Input from "../_components/Input.svelte";
  import Socials from "../_components/Socials.svelte";
  import Header from "../_components/Header.svelte";
  import Flex from "../_components/FlexContainer.svelte";

  import text from "../../_translation.js";

  // let rememberMe;
  let email, password;

  const submit = (e) => {
    e.preventDefault();
    // validate locally
    user.login(email, password);
  };
</script>

{#if $user.needConfirmation}
  {$goto("/auth/confirm")}
{/if}
<div class="login">
  <Header>{$text("SIGN_IN_TITLE")}</Header>
  <Spacer size={48} />
  <form on:submit={submit}>
    <Input
      placeholder={$text("EMAIL")}
      bind:value={email}
      type="email"
      {submit}
    />
    <Spacer size={24} />

    <Input
      placeholder={$text("PASSWORD")}
      bind:value={password}
      type="password"
      {submit}
    />
    <Spacer size={40} />
  </form>
  <Flex>
    <button class="outlined" on:click={$goto("/auth/signup")}
      >{$text("SIGN_UP")}</button
    >
    <Spacer vertical size={32} />
    <button class="filled" on:click={submit}>{$text("SIGN_IN")}</button>
  </Flex>
  <Spacer size={8} />

  <Flex>
    <!-- <label for="remember-me">
      <input bind:checked={rememberMe} name="remember-me" type="checkbox" />
      Запомнить меня
    </label> -->
    <div />
    <a href="/auth/forgot">{$text("FORGOT_PASS")}</a>
  </Flex>
  <Spacer size={8} />

  <Flex>
    <div class="line" />
    <Spacer vertical size={32} />
    <span class="line">{$text("OR")}</span>
    <Spacer vertical size={32} />
    <div class="line" />
  </Flex>

  <Socials>{$text("SIGN_IN_WITH")}</Socials>
</div>

<style>
  .login {
    max-width: 380px;
  }
  .outlined {
    border: 2px solid var(--yellow);
    background: none;
    color: var(--yellow);
    flex: 1 1 120px;

    padding: 1rem 2rem;
    border-radius: 1.5rem;
    text-align: center;
  }
  .filled {
    background: var(--yellow);
    flex: 1 1 120px;
    border: none;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
  }

  div.line {
    width: 100%;
    border-top: 2px solid #e9eded;
  }
  span.line {
    color: #8a94a7;
  }
</style>
