<script>
  import { goto } from "@roxi/routify";
  import { user } from "store/auth";
  import Spacer from "components/Spacer.svelte";
  import Header from "../_components/Header.svelte";
  import Input from "../_components/Input.svelte";
  import Flex from "../_components/FlexContainer.svelte";
  import text from "../../_translation.js";

  const userData = {
    email: "",
    password: "",
    firstName: "",
    lastName: "",
    // username:'',
  };
  const submit = (e) => {
    e.preventDefault();
    // validate locally
    user.signup(userData);
  };
</script>

{#if $user.needConfirmation}
  {$goto("/auth/confirm")}
{/if}
<div class="register">
  <Header>{$text("SIGN_UP_TITLE")}</Header>
  <Spacer size={48} />
  <!-- 
    <Input placeholder={$text('LOGIN')} bind:value={userData.username} type="personal" {submit} />
    <Spacer size={24}/> -->

  <Flex>
    <Input
      placeholder={$text("FIRST_NAME")}
      bind:value={userData.firstName}
      type="personal"
      {submit}
    />
    <Spacer vertical size={24} />
    <Input
      placeholder={$text("LAST_NAME")}
      bind:value={userData.lastName}
      type="personal"
      {submit}
    />
  </Flex>

  <Spacer size={24} />

  <Input
    placeholder={$text("EMAIL")}
    bind:value={userData.email}
    type="email"
    {submit}
  />
  <Spacer size={24} />

  <Input
    placeholder={$text("PASSWORD")}
    bind:value={userData.password}
    type="password"
    {submit}
  />
  <Spacer size={40} />

  <Flex>
    <button class="outlined" on:click={$goto("/auth/login")}
      >{$text("SIGN_IN")}</button
    >
    <Spacer vertical size={32} />
    <button class="filled" on:click={submit}>{$text("SIGN_UP")}</button>
  </Flex>
</div>

<style>
  .register {
    max-width: 380px;
  }
  .outlined {
    border: 2px solid var(--yellow);
    background: none;
    color: var(--yellow);
    flex: 1 1 120px;

    padding: 1rem 2rem;
    border-radius: 1.5rem;
    text-align: center;
  }
  .filled {
    background: var(--yellow);
    flex: 1 1 120px;
    border: none;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
  }
</style>
