<script>
  import defaultData from "./data";
  const data = window.data || defaultData

  import ProjectCover from "common/ProjectCover.svelte";
  import ListPage from "common/ListPage.svelte";
  import BlockCover from "common/BlockCover.svelte";
  import LongText from "common/LongText.svelte";

  import dict from "./dict";
  const lang = data.templateLang || 'ru';
  const translate = (key) => dict[key] && dict[key][lang] ? dict[key][lang] : key;
</script>

<ProjectCover 
cover={data.cover} 
projectTitle={data.projectName ? `${translate('applicationFor')} ${data.projectName}` : data.projectName} 
projectSubtitle={data.eventLink ? 'Ссылка' : null}
projectLink={data.eventLink}
/>

<ListPage
  list={[
    { title: translate('eventTheme'), value: data.eventTheme },
    { title: translate('pitchTheme'), value: data.pitchTheme },
    { link: data.document?.file, value: data.document?.name },
  ]}
/>

<ListPage
  list={[
    { title: translate('name'), value: data.name },
    { title: translate('startDate'), value: data.startTime ? `${data.startDate} ${data.startTime}` :data.startDate  },
    {
      title: translate('endDate'),
      value:
        new Date(data.endDate) < new Date(data.startDate)
          ? data.startDate
          : data.endDate,
    },
    { title: translate('format'), value: data.format?.value },
    { title: translate('location'), value: data.eventPlace },
    { title: translate('feeOffered'), value: data.suggestedPrice },
    { title: translate('askingFee'), value: data.requestedPrice },
  ]}
/>

<ListPage
  cover={data.cover}
  title={translate('time')}
  list={[{ value: data.time }]}
/>

<LongText 
cover={data.cover}
  title={translate('requirements')}
  text={data.requirement}
/>

<LongText 
cover={data.cover}
  title={translate('streaming')}
  text={data.streaming}
/>

<LongText 
cover={data.cover}
  title={translate('audience')}
  text={data.audience}
/>

<ListPage
  cover={data.cover}
  title={translate('company')}
  list={[
    { value: data.company, style:"font-weight:bold"},
    { title: translate('contactName'), value: data.contactName },
    { title: translate('phone'), value: data.contactPhone },
    { title: translate('email'), value: data.contactemail },
  ]}
/>

<LongText cover={data.cover} title={translate('target')} text={data.target} />
<LongText cover={data.cover} title={translate('ourTarget')} text={data.ourTarget} />
<LongText cover={data.cover} title={translate('materials')} text={data.materials} />

{#if data.responsible.some((item) => item.responsibleName)}
  <BlockCover cover={data.cover} title={translate('responsible')} />
  {#each data.responsible as responsible}
    {#if responsible.responsibleName}
      <ListPage
        list={[
          { value: responsible.responsibleName, style:"font-weight:bold" },
          { title: translate('phone'), value: responsible.responsiblePhone },
          { title: translate('email'), value: responsible.responsibleMail },
        ]}
      />
    {/if}
  {/each}
{/if}

{#if data.meeting.some((item) => item.meetingName)}
  <BlockCover cover={data.cover} title={translate('meeting')}/>
  {#each data.meeting as meeting}
    {#if meeting.meetingName}
      <ListPage
        list={[
          { value: meeting.meetingName, style:"font-weight:bold" },
          { title: translate('phone'), value: meeting.meetingPhone },
          { title: translate('email'), value: meeting.meetingMail },
        ]}
      />
    {/if}
  {/each}
{/if}
