<script>
  export let cover
  export let title

  const position = ['left', 'right', 'top', 'bottom', 'center', 'revert'];
  const backgroundPosition = () => position[Math.floor(Math.random() * position.length)];
</script>

{#if title}
  <div
    class="page pageTitleCover pageDescriptionTitle"
    style={
      `background-image: url(${cover}); background-position: ${backgroundPosition()}`
    }
    >
    <div class="pageTitle projectTranslation">{title}</div>
  </div>
{/if}

<style>
  .pageTitleCover {
    background-position: center;
    background-size: cover;
  }
  .pageTitle {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 2vw;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 4vw;
    font-weight: 800;
  }
  @media print {
    .pageTitleCover {
      background-image: none !important;
    }
  }
  @media (max-width: 600px) {
    .pageTitle {
      font-size: 7vw;
      padding: 4vmin;
    }
  }
</style>
