<script>
  import BlockCover from './BlockCover.svelte'
  export let list = []
  export let cover = null
  export let title = null
  export let itemsPerPage = 4
  let filtredList = list.filter((item) => item.value)

  let pages = []
  filtredList.forEach((item, i) => {
    if (i % itemsPerPage === 0) {
      pages.push([])
    }
    pages[pages.length - 1].push(item)
  })
  pages = pages
</script>

{#if filtredList.length}
  <BlockCover {cover} {title} />
{/if}
{#each pages as page}
  <div class="page description">
    {#each page as item}
      <div class="item description">
        {#if item.title}<div class="title">{item.title}</div>{/if}
        {#if item.link}
          <a href={item.link} target="_blank" class="value">{item.value}</a>
        {:else}
          <div class="value" style={item.style || ''}>{item.value}</div>
        {/if}
      </div>
    {/each}
  </div>
{/each}

<style>
  a{
    word-break: break-all;
  }
  .description {
    display: flex;
    align-items: center;
    background: #fff;
    color: #0f0804;
    justify-content: center;
    flex-direction: column;
  }
  .item {
    font-size: 1.5vw;
    margin-top: 1vh;
  }
  .title {
    font-size: 2vw;
    opacity: 0.7;
  }
  .value {
    font-size: 5vmin;
    margin-bottom: 4vh;
    margin-top: 2vh;
    text-align: left;
    padding: 0 2vw;
    white-space: pre-wrap;
  }
  a.value,
  a.value:visited {
    color: #18649f;
    text-decoration: none;
  }
  a.value:hover {
    color: #257dc4;
  }
  @media (max-width: 600px) {
    .item {
      font-size: 4.5vmin;
    }
    .title {
      font-size: 5vmin;
    }
    .value {
      font-size: 4vmin;
    }
  }
</style>
