<script>
  import BlockCover from "common/BlockCover.svelte";
  export let text = null;
  export let cover = null;
  export let title = null;

  const splitText = (text, breakpoint = 500) => {
    if (!text) return [];
    let textBuffer = text;
    const textArray = [];

    while (textBuffer.length > breakpoint) {
      const indexes = [
        textBuffer.indexOf(". ", breakpoint - 1),
        textBuffer.indexOf("\n", breakpoint - 1),
        textBuffer.lastIndexOf(". ", breakpoint + 1),
        textBuffer.lastIndexOf("? ", breakpoint + 1),
        textBuffer.lastIndexOf("\n", breakpoint + 1),
      ];
      const dif = indexes.map((index) => index - breakpoint);
      const [closest] = dif.sort((a, b) => Math.abs(a) - Math.abs(b));
      const divider = closest + breakpoint + 1;

      textArray.push(textBuffer.slice(0, divider).trim());
      textBuffer = textBuffer.slice(divider).trim();
    }
    textArray.push(textBuffer);
    return textArray;
  };
  let textarray = splitText(text);
</script>

{#if textarray.length}
  <BlockCover {cover} {title} />
{/if}
{#each textarray as page}
  <div class="page description">

      <div class="text">
        {page}
      </div>

  </div>
{/each}

<style>
  .description {
    display: flex;
    align-items: center;
    background: #fff;
    color: #0f0804;
    justify-content: center;
    flex-direction: column;
  }
  .text {
    font-size: 2vw;
    text-align: left;
    padding: 0px 12vw;
    margin-bottom: 2vh;
    white-space: pre-wrap;
  }
  @media (max-width: 600px) {
    .text {
      font-size: 5vmin;
    }
  }
</style>
