<script>
  import BlockCover from "./BlockCover.svelte";
  export let list = [];
  export let cover = null;
  export let title = null;
  export let borderRadius = true;
  export let cols = 2;
  export let rows = 1;
  let filtredList = list.filter((item) => item.src || (typeof item.title === "string" && item.title) || item.title?.text);

  let pages = [];
  filtredList.forEach((item, i) => {
    if (i % (cols * rows) === 0) {
      pages.push([]);
    }
    pages[pages.length - 1].push(item);
  });
  pages = pages;
</script>

{#if filtredList.length}
  <BlockCover {cover} {title} />
{/if}
{#each pages as page}
  <div class="page imagePage">
    {#each page as item}
      <div
        class="imageContainer"
        style={`flex-basis: ${Math.floor(100 / cols)}%;`}
      >
        {#if item.src}
          <img
            src={item.src}
            alt={item.alt || "image"}
            class="photo"
            class:rounded={borderRadius}
            style={item.style}
          />
        {/if}
        {#if item.title && typeof item.title === "string"}
          <div class="title">{item.title}</div>
        {:else if item.title && item.title.style}
          <div class="title" style={item.title.style}>{item.title.text}</div>
        {/if}

        {#if item.subtitle}
          <div class="subtitle">{item.subtitle}</div>
        {/if}
      </div>
    {/each}
  </div>
{/each}

<style>
  .imagePage {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10vmin;
    flex-wrap: wrap;
  }
  .imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .photo {
    max-width: 80vmin;
    max-height: 80vmin;
  }

  .rounded {
    border-radius: 3vmin;
  }
  .title {
    margin-top: 2vh;
    font-size: 1.5vw;
  }
  .subtitle {
    margin-top: 0.5vh;
    font-size: 1vw;
  }
  @media (max-width: 600px) {
    .imagePage {
      flex-direction: column;
    }
    .title {
      font-size: 6vmin;
    }
    .subtitle {
      font-size: 5vmin;
    }
  }
</style>
