<script>
  export let cover = null;
  export let projectTitle = null;
  export let projectSubtitle = null;
  export let projectLink = null;
</script>

<div class="cover page" style={`background-image: url("${cover}");`}>
  <div class="coverContainer">
    <div class="projectTitle">{projectTitle || ""}</div>

    {#if projectSubtitle && projectLink}
      <a class="projectSubtitle" href={projectLink} target="_blank"
        >{projectSubtitle}</a
      >
    {:else if projectSubtitle}
      <div class="projectSubtitle">{projectSubtitle}</div>
    {/if}
  </div>
</div>

<style>
  .cover {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .coverContainer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 5vw;
  }
  .projectTitle {
    text-transform: uppercase;
    text-align: center;
    font-size: 7vw;
    font-weight: 800;
    padding: 3vmin;
    white-space: pre-wrap;
  }
  .projectSubtitle {
    margin-top: 4vh;
    font-size: 5vmin;
    color: white;
    text-transform: uppercase;
  }
</style>
