<!-- routify:options preload="proximity" -->
<script>
  import FloatingMenu from "components/FloatingMenu.svelte";
  import AuthCheck from "components/AuthCheck.svelte";
  import Content from "components/Content.svelte";
</script>

<AuthCheck>
  <FloatingMenu />
  <Content>
    <slot />
  </Content>
</AuthCheck>
