<script>
  import Projects from "components/Projects.svelte";
  import Spacer from "components/Spacer.svelte";
  import Folders from "./_components/Folders.svelte";
  import api from "tools/api";
  import SortBy from "./_components/SortBy.svelte";
  import text from './_translation'
  
  let searhString;
  let all = [];
  let isLoading = true;
  let sortBy = "UPDATED_DATE";
  let searchTimeoutId;

  const getSlides = () => {
    isLoading = true;
    return api
      .get(
        searhString
          ? `/api/v1/slides/?search=${encodeURIComponent(searhString)}`
          : "/api/v1/folders/no_folder/"
      )
      .then((data) => (all = searhString ? data : data.slides))
      .finally(() => (isLoading = false));
  };
  const scheduleSearch = () => {
    clearTimeout(searchTimeoutId);
    setTimeout(getSlides, 200);
  };
  const moveSlideToFolder = ({ slide, folder }) => {
    return api
      .patch(`/api/v1/slides/${slide}/update/`, {body: {folder},})
      .catch(() => {});
  };
  getSlides();

  const onDrop = async (options) => {
    await moveSlideToFolder(options);
    getSlides();
  };
  $: sortedProjects = all.sort((a, b) => {
    if (sortBy === "NAME") {
      return a.name.toLowerCase() > b.name.toLowerCase() ? 1 : -1;
    }
    if (sortBy === "CREATED_DATE") {
      return new Date(a.created_at) > new Date(b.created_at) ? -1 : 1;
    }
    if (sortBy === "UPDATED_DATE") {
      return new Date(a.updated_at) > new Date(b.updated_at) ? -1 : 1;
    }
  });
</script>

<Spacer size={12} />
<div class="searchContainer">
  <input
    placeholder={$text("SEARCH")}
    bind:value={searhString}
    on:input={scheduleSearch}
    class="search"
  />
  <SortBy bind:sortBy />
</div>

<Spacer size={16} />
<Folders {getSlides} />
<Spacer size={16} />
{#if !isLoading && all.length === 0}
  <h1>{!searhString ? $text("NO_SLIDES") : $text("NOTHING_FOUND")}</h1>
{/if}
<Projects projects={sortedProjects} useDrag={true} {onDrop} />

<a href="/slide" class="new">{$text("CREATE_SLIDES")}</a>
<Spacer size={96} />

<style>
  .searchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search {
    max-width: 300px;
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(255 255 255 / 1);
    border-radius: 10px;
    padding: 16px 24px;
    line-height: 1.2;
    display: block;
    width: 100%;
    border: 1px solid #dfdfdf;
    margin: 0;
  }
  .search:focus {
    outline: none;
  }
  .search:hover,
  .search:focus {
    border-color: #b2b8bf;
  }
  h1 {
    text-align: center;
    margin-top: 20vmin;
  }
  .new {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffaf00;
    box-shadow: 0px 20px 50px rgba(255, 175, 0, 0.21);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    padding: 16px 32px;
    user-select: none;
    -webkit-user-select: none;
  }
  .new:hover {
    text-decoration: none;
  }
  @media (max-width: 600px) {
    .new {
      font-size: 16px;
      white-space: nowrap;
    }
    .searchContainer {
      flex-direction: column;
      align-items: flex-start;
    }
    .search {
      margin-bottom: 16px;
    }
  }
</style>
