<!-- routify:options preload="proximity" -->
<script>
    import { goto } from '@roxi/routify';
    import { user } from 'store/auth.js';
    import Loader from 'components/Loader.svelte';
    import Logo from "./_components/images/Logo.svelte";
    import Promo from './_components/Promo.svelte';
    import Lang from "components/Lang.svelte";
    import Spacer from "components/Spacer.svelte";
    import { SvelteToast } from "@zerodevx/svelte-toast";
</script>

{#if $user.isLoading}
    <div class="loader">
        <Loader />
    </div>
{:else if $user.userData}
    {$goto('/cabinet')}
{:else}
    <div class="login-container">
        <div class="promo">
            <Promo />
            <div class="logo">
                <a href='/'>
                    <Logo />
                </a>
                <Spacer vertical size={24} />
                <Lang />
            </div>
        </div>
        <div class="form">
            <slot />
            <SvelteToast options={{duration:3000}} />
        </div>
        
    </div>
{/if}

<style>
    .loader {
        margin-top: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .logo {
        position: absolute;
        left: 1rem;
        top: 1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    .login-container {
        min-height: 100vh;
        display: flex;
        align-items: stretch;
    }
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 5%;
    }

    @media screen and (max-width: 650px)  {
        div.promo {
            display: none;
        }
        div.form {
            padding: 10%;
        }
    }
    @media screen and (min-width: 651px)  {
        div.promo {
            background-image: url('/images/LoginBg.jpg');
            background-position: bottom right;
            background-size: cover;
            max-width: 50vw;

            box-sizing: border-box;
            padding: 5%;

            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
        }
    }
</style>