<script>
  import { apiUrl } from "config";
  import Input from "../_components/Input.svelte";
  import text from "../../_translation.js";
  import Spacer from "components/Spacer.svelte";
  import Header from "../_components/Header.svelte";
  import Flex from "../_components/FlexContainer.svelte";
  import { toast } from "@zerodevx/svelte-toast";
  let email = "";
  let isCodeSent = false;
  const submit = () => {};

  const sendRequest = () => {
    fetch(
      `${apiUrl}/api/auth/email/restore/request/?email=${encodeURIComponent(
        email
      )}`
    )
      .then((res) => res.json())
      .then((data) => {
        if (data.msg === "ok") {
          isCodeSent = true;
        } else {
            toast.push(Object.values(data))
        }
      });
  };
</script>

<div class="login">
  {#if !isCodeSent}
    <Header>{$text("RESTORE_PASS")}</Header>
    <Spacer size={48} />
    <Input placeholder={$text("EMAIL")} bind:value={email} type="email" />
    <Spacer size={16} />
    <Flex>
      <button class="filled" on:click={sendRequest}
        >{$text("SEND_RESET_INSTRUCTIONS")}</button
      >
    </Flex>
  {:else}
    <Header>{$text("EMAIL_SENT")}</Header>
    <Flex><a href="/">{$text('MAIN')}</a></Flex>
  {/if}
</div>

<style>
  .login {
    max-width: 380px;
  }
  .filled {
    background: var(--yellow);
    flex: 1 1 120px;
    border: none;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
  }
</style>
