<style>
  svg {
    width: 100%;
  }
</style>

<svg
  viewBox="0 0 190 52"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  >
  <g filter="url(#filter0_dd)">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M5.17334 3C3.97304 3 3 3.97303 3 5.17333V44.8267C3 46.027 3.97303 47
      5.17333 47H184.827C186.027 47 187 46.027 187 44.8267V5.17333C187 3.97303
      186.027 3 184.827 3H5.17334Z"
      fill="#2553B4" />
  </g>
  <path
    d="M86.3995
    26.7822H82.3936V31H80.6641V21.0469H86.9874V22.4414H82.3936V25.4014H86.3995V26.7822ZM92.6255
    31C92.5525 30.8587 92.4887 30.6286 92.434 30.3096C91.9054 30.861 91.2583
    31.1367 90.4926 31.1367C89.7498 31.1367 89.1437 30.9248 88.6743
    30.501C88.2049 30.0771 87.9702 29.5531 87.9702 28.9287C87.9702 28.1403
    88.2618 27.5365 88.8452 27.1172C89.4331 26.6934 90.2716 26.4814 91.3608
    26.4814H92.3794V25.9961C92.3794 25.6133 92.2723 25.3079 92.0581
    25.0801C91.8439 24.8477 91.518 24.7314 91.0805 24.7314C90.7023 24.7314
    90.3924 24.8271 90.1508 25.0186C89.9093 25.2054 89.7885 25.4447 89.7885
    25.7363H88.1274C88.1274 25.3307 88.2618 24.9525 88.5307 24.6016C88.7996
    24.2461 89.1642 23.9681 89.6245 23.7676C90.0893 23.5671 90.6066 23.4668
    91.1762 23.4668C92.0421 23.4668 92.7326 23.6855 93.2475 24.123C93.7625
    24.556 94.0268 25.1667 94.0405 25.9551V29.291C94.0405 29.9564 94.1339
    30.4873 94.3208 30.8838V31H92.6255ZM90.8003 29.8037C91.1284 29.8037 91.436
    29.724 91.7231 29.5645C92.0148 29.4049 92.2335 29.1908 92.3794
    28.9219V27.5273H91.4839C90.8686 27.5273 90.4061 27.6344 90.0962
    27.8486C89.7863 28.0628 89.6313 28.3659 89.6313 28.7578C89.6313 29.0768
    89.7361 29.332 89.9458 29.5234C90.16 29.7103 90.4448 29.8037 90.8003
    29.8037ZM99.0565 29.8105C99.4712 29.8105 99.8153 29.6898 100.089
    29.4482C100.362 29.2067 100.508 28.9082 100.526 28.5527H102.092C102.073
    29.013 101.93 29.4437 101.661 29.8447C101.392 30.2412 101.028 30.5557
    100.567 30.7881C100.107 31.0205 99.6102 31.1367 99.077 31.1367C98.0425
    31.1367 97.2222 30.8018 96.6161 30.1318C96.01 29.4619 95.7069 28.5368
    95.7069 27.3564V27.1855C95.7069 26.0599 96.0077 25.1598 96.6093
    24.4854C97.2108 23.8063 98.0311 23.4668 99.0702 23.4668C99.9498 23.4668
    100.665 23.7243 101.217 24.2393C101.773 24.7497 102.064 25.4219 102.092
    26.2559H100.526C100.508 25.832 100.362 25.4834 100.089 25.21C99.8199 24.9365
    99.4758 24.7998 99.0565 24.7998C98.5188 24.7998 98.104 24.9958 97.8124
    25.3877C97.5207 25.7751 97.3726 26.3652 97.368 27.1582V27.4248C97.368
    28.2269 97.5116 28.8262 97.7987 29.2227C98.0904 29.6146 98.5096 29.8105
    99.0565 29.8105ZM106.841 31.1367C105.788 31.1367 104.934 30.8063 104.278
    30.1455C103.626 29.4801 103.3 28.596 103.3 27.4932V27.2881C103.3 26.5498
    103.441 25.8913 103.724 25.3125C104.011 24.7292 104.412 24.2757 104.927
    23.9521C105.442 23.6286 106.016 23.4668 106.65 23.4668C107.657 23.4668
    108.434 23.7881 108.981 24.4307C109.532 25.0732 109.808 25.9824 109.808
    27.1582V27.8281H104.975C105.025 28.4388 105.228 28.9219 105.583
    29.2773C105.943 29.6328 106.394 29.8105 106.937 29.8105C107.698 29.8105
    108.318 29.5029 108.796 28.8877L109.692 29.7422C109.395 30.1842 108.999
    30.5283 108.502 30.7744C108.01 31.016 107.456 31.1367 106.841
    31.1367ZM106.643 24.7998C106.187 24.7998 105.818 24.9593 105.535
    25.2783C105.257 25.5973 105.08 26.0417 105.002
    26.6113H108.167V26.4883C108.131 25.9323 107.983 25.513 107.723
    25.2305C107.463 24.9434 107.103 24.7998 106.643 24.7998ZM117.832
    27.377C117.832 28.5254 117.574 29.4391 117.059 30.1182C116.549 30.7972
    115.845 31.1367 114.947 31.1367C114.081 31.1367 113.407 30.8245 112.924
    30.2002L112.842 31H111.338V20.5H112.999V24.3145C113.477 23.7493 114.122
    23.4668 114.933 23.4668C115.836 23.4668 116.544 23.8018 117.059
    24.4717C117.574 25.1416 117.832 26.0781 117.832 27.2812V27.377ZM116.171
    27.2334C116.171 26.4313 116.029 25.8298 115.747 25.4287C115.464 25.0277
    115.054 24.8271 114.516 24.8271C113.796 24.8271 113.29 25.1416 112.999
    25.7705V28.8193C113.295 29.4619 113.805 29.7832 114.53 29.7832C115.05
    29.7832 115.451 29.5895 115.733 29.2021C116.016 28.8148 116.161 28.2292
    116.171 27.4453V27.2334ZM119.156 27.2334C119.156 26.5088 119.3 25.8571
    119.587 25.2783C119.874 24.695 120.277 24.2484 120.797 23.9385C121.317
    23.624 121.914 23.4668 122.588 23.4668C123.586 23.4668 124.395 23.7881
    125.015 24.4307C125.639 25.0732 125.976 25.9255 126.026 26.9873L126.033
    27.377C126.033 28.1061 125.892 28.7578 125.609 29.332C125.331 29.9062 124.93
    30.3506 124.406 30.665C123.887 30.9795 123.285 31.1367 122.602
    31.1367C121.558 31.1367 120.722 30.7904 120.093 30.0977C119.469 29.4004
    119.156 28.473 119.156 27.3154V27.2334ZM120.817 27.377C120.817 28.138
    120.975 28.735 121.289 29.168C121.604 29.5964 122.041 29.8105 122.602
    29.8105C123.162 29.8105 123.597 29.5918 123.907 29.1543C124.222 28.7168
    124.379 28.0765 124.379 27.2334C124.379 26.486 124.217 25.8936 123.894
    25.4561C123.575 25.0186 123.139 24.7998 122.588 24.7998C122.046 24.7998
    121.615 25.0163 121.296 25.4492C120.977 25.8776 120.817 26.5202 120.817
    27.377ZM127.365 27.2334C127.365 26.5088 127.508 25.8571 127.795
    25.2783C128.083 24.695 128.486 24.2484 129.005 23.9385C129.525 23.624
    130.122 23.4668 130.796 23.4668C131.794 23.4668 132.603 23.7881 133.223
    24.4307C133.848 25.0732 134.185 25.9255 134.235 26.9873L134.242
    27.377C134.242 28.1061 134.1 28.7578 133.818 29.332C133.54 29.9062 133.139
    30.3506 132.615 30.665C132.095 30.9795 131.494 31.1367 130.81
    31.1367C129.766 31.1367 128.93 30.7904 128.301 30.0977C127.677 29.4004
    127.365 28.473 127.365 27.3154V27.2334ZM129.026 27.377C129.026 28.138
    129.183 28.735 129.498 29.168C129.812 29.5964 130.25 29.8105 130.81
    29.8105C131.371 29.8105 131.806 29.5918 132.116 29.1543C132.43 28.7168
    132.587 28.0765 132.587 27.2334C132.587 26.486 132.426 25.8936 132.102
    25.4561C131.783 25.0186 131.348 24.7998 130.796 24.7998C130.254 24.7998
    129.823 25.0163 129.504 25.4492C129.185 25.8776 129.026 26.5202 129.026
    27.377ZM138.287 27.8281L137.549
    28.5869V31H135.888V20.5H137.549V26.5566L138.068 25.9072L140.112
    23.6035H142.108L139.36 26.6865L142.402 31H140.481L138.287 27.8281Z"
    fill="white" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M18 25.5749V30.9617H21.3V46.7858H27.6459V30.8944H32.0732L32.5446
    25.5749H27.6459C27.6459 25.5749 27.6459 23.5885 27.6459 22.5448C27.6459
    21.2905 27.8985 20.7939 29.1104 20.7939C30.0869 20.7939 32.5445 20.7939
    32.5445 20.7939V15.2725C32.5445 15.2725 28.9246 15.2725 28.1509
    15.2725C23.4289 15.2725 21.3 17.3513 21.3 21.3327C21.3 24.8003 21.3 25.5749
    21.3 25.5749H18Z"
    fill="white" />
  <defs>
    <filter
      id="filter0_dd"
      x="0.826667"
      y="0.826667"
      width="188.347"
      height="50.52"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
      <feOffset dy="2.17333" />
      <feGaussianBlur stdDeviation="1.08667" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.24 0" />
      <feBlend
        mode="normal"
        in2="BackgroundImageFix"
        result="effect1_dropShadow" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
      <feOffset />
      <feGaussianBlur stdDeviation="1.08667" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0" />
      <feBlend
        mode="normal"
        in2="effect1_dropShadow"
        result="effect2_dropShadow" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="effect2_dropShadow"
        result="shape" />
    </filter>
  </defs>
</svg>
