<style>
  svg {
    width: 100%;
  }
</style>

<svg
  viewBox="0 0 190 51"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  >
  <g filter="url(#filter0_dd)">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M5.17334 3C3.97304 3 3 3.97303 3 5.17333V43.8267C3 45.027 3.97303 46
      5.17333 46H184.827C186.027 46 187 45.027 187 43.8267V5.17333C187 3.97303
      186.027 3 184.827 3H5.17334Z"
      fill="white" />
  </g>
  <path
    d="M96.7885 28.708C96.4285 29.1774 95.9295 29.5329 95.2915 29.7744C94.6535
    30.016 93.9288 30.1367 93.1176 30.1367C92.2837 30.1367 91.5454 29.9476
    90.9028 29.5693C90.2602 29.1911 89.7635 28.651 89.4126 27.9492C89.0662
    27.2428 88.8862 26.4202 88.8725 25.4814V24.7021C88.8725 23.1982 89.2326
    22.0247 89.9526 21.1816C90.6727 20.334 91.6775 19.9102 92.9673
    19.9102C94.0747 19.9102 94.9542 20.1836 95.6059 20.7305C96.2576 21.2773
    96.6495 22.0658 96.7817 23.0957H95.0864C94.895 21.8971 94.2 21.2979 93.0014
    21.2979C92.2267 21.2979 91.6365 21.5781 91.2309 22.1387C90.8299 22.6947
    90.6225 23.5127 90.6089 24.5928V25.3584C90.6089 26.4339 90.8344 27.2702
    91.2856 27.8672C91.7413 28.4596 92.3725 28.7559 93.1792 28.7559C94.0633
    28.7559 94.6922 28.5553 95.0659
    28.1543V26.2061H93.0151V24.8936H96.7885V28.708ZM98.455 26.2334C98.455
    25.5088 98.5985 24.8571 98.8856 24.2783C99.1727 23.695 99.5761 23.2484
    100.096 22.9385C100.615 22.624 101.212 22.4668 101.887 22.4668C102.885
    22.4668 103.694 22.7881 104.313 23.4307C104.938 24.0732 105.275 24.9255
    105.325 25.9873L105.332 26.377C105.332 27.1061 105.191 27.7578 104.908
    28.332C104.63 28.9062 104.229 29.3506 103.705 29.665C103.185 29.9795 102.584
    30.1367 101.9 30.1367C100.857 30.1367 100.02 29.7904 99.3915 29.0977C98.7671
    28.4004 98.455 27.473 98.455 26.3154V26.2334ZM100.116 26.377C100.116 27.138
    100.273 27.735 100.588 28.168C100.902 28.5964 101.34 28.8105 101.9
    28.8105C102.461 28.8105 102.896 28.5918 103.206 28.1543C103.52 27.7168
    103.678 27.0765 103.678 26.2334C103.678 25.486 103.516 24.8936 103.192
    24.4561C102.873 24.0186 102.438 23.7998 101.887 23.7998C101.344 23.7998
    100.914 24.0163 100.595 24.4492C100.276 24.8776 100.116 25.5202 100.116
    26.377ZM106.663 26.2334C106.663 25.5088 106.807 24.8571 107.094
    24.2783C107.381 23.695 107.784 23.2484 108.304 22.9385C108.824 22.624
    109.421 22.4668 110.095 22.4668C111.093 22.4668 111.902 22.7881 112.522
    23.4307C113.146 24.0732 113.483 24.9255 113.533 25.9873L113.54 26.377C113.54
    27.1061 113.399 27.7578 113.116 28.332C112.839 28.9062 112.437 29.3506
    111.913 29.665C111.394 29.9795 110.792 30.1367 110.109 30.1367C109.065
    30.1367 108.229 29.7904 107.6 29.0977C106.976 28.4004 106.663 27.473 106.663
    26.3154V26.2334ZM108.325 26.377C108.325 27.138 108.482 27.735 108.796
    28.168C109.111 28.5964 109.548 28.8105 110.109 28.8105C110.669 28.8105
    111.104 28.5918 111.414 28.1543C111.729 27.7168 111.886 27.0765 111.886
    26.2334C111.886 25.486 111.724 24.8936 111.401 24.4561C111.082 24.0186
    110.646 23.7998 110.095 23.7998C109.553 23.7998 109.122 24.0163 108.803
    24.4492C108.484 24.8776 108.325 25.5202 108.325 26.377ZM114.892
    26.2471C114.892 25.0986 115.161 24.1826 115.699 23.499C116.241 22.8109
    116.959 22.4668 117.852 22.4668C118.695 22.4668 119.358 22.7607 119.842
    23.3486L119.917 22.6035H121.414V29.7744C121.414 30.7451 121.111 31.5107
    120.505 32.0713C119.903 32.6318 119.09 32.9121 118.064 32.9121C117.522
    32.9121 116.991 32.7982 116.471 32.5703C115.956 32.347 115.564 32.0531
    115.296 31.6885L116.082 30.6904C116.592 31.2965 117.221 31.5996 117.968
    31.5996C118.52 31.5996 118.955 31.4492 119.274 31.1484C119.593 30.8522
    119.753 30.4147 119.753 29.8359V29.3369C119.274 29.8701 118.636 30.1367
    117.839 30.1367C116.973 30.1367 116.264 29.7926 115.713 29.1045C115.166
    28.4163 114.892 27.4639 114.892 26.2471ZM116.547 26.3906C116.547 27.1335
    116.697 27.7191 116.998 28.1475C117.303 28.5713 117.725 28.7832 118.262
    28.7832C118.932 28.7832 119.429 28.4961 119.753 27.9219V24.668C119.438
    24.1074 118.946 23.8271 118.276 23.8271C117.729 23.8271 117.303 24.0436
    116.998 24.4766C116.697 24.9095 116.547 25.5475 116.547 26.3906ZM125.131
    30H123.47V19.5H125.131V30ZM130.441 30.1367C129.388 30.1367 128.534 29.8063
    127.877 29.1455C127.226 28.4801 126.9 27.596 126.9 26.4932V26.2881C126.9
    25.5498 127.041 24.8913 127.324 24.3125C127.611 23.7292 128.012 23.2757
    128.527 22.9521C129.042 22.6286 129.616 22.4668 130.25 22.4668C131.257
    22.4668 132.034 22.7881 132.581 23.4307C133.132 24.0732 133.408 24.9824
    133.408 26.1582V26.8281H128.575C128.625 27.4388 128.828 27.9219 129.183
    28.2773C129.543 28.6328 129.994 28.8105 130.537 28.8105C131.298 28.8105
    131.918 28.5029 132.396 27.8877L133.292 28.7422C132.995 29.1842 132.599
    29.5283 132.102 29.7744C131.61 30.016 131.056 30.1367 130.441
    30.1367ZM130.243 23.7998C129.787 23.7998 129.418 23.9593 129.135
    24.2783C128.857 24.5973 128.68 25.0417 128.602
    25.6113H131.767V25.4883C131.731 24.9323 131.583 24.513 131.323
    24.2305C131.063 23.9434 130.703 23.7998 130.243 23.7998Z"
    fill="black"
    fill-opacity="0.54" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M25.78 18.342C27.6165 18.342 28.8553 19.1353 29.5616 19.7982L32.3218
    17.1032C30.6266 15.5276 28.4206 14.5604 25.78 14.5604C21.955 14.5604 18.6515
    16.7555 17.0432 19.9503L20.2054 22.4062C20.9987 20.0481 23.1938 18.342 25.78
    18.342Z"
    fill="#EA4335" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M35.1689 24.5576C35.1689 23.7534 35.1037 23.1666 34.9624
    22.5581H25.7801V26.1876H31.1699C31.0613 27.0895 30.4745 28.4478 29.1705
    29.3606L32.2566 31.7513C34.1039 30.0452 35.1689 27.535 35.1689 24.5576Z"
    fill="#4285F4" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M20.2163 26.2746C20.0099 25.6661 19.8903 25.0141 19.8903 24.3403C19.8903
    23.6666 20.0099 23.0146 20.2055 22.4061L17.0433 19.9502C16.3804 21.2759
    16.0001 22.7647 16.0001 24.3403C16.0001 25.916 16.3804 27.4047 17.0433
    28.7305L20.2163 26.2746Z"
    fill="#FBBC05" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M25.7803 34.1201C28.4209 34.1201 30.6377 33.2508 32.2568 31.7512L29.1707
    29.3605C28.3448 29.9365 27.2364 30.3385 25.7803 30.3385C23.194 30.3385
    20.999 28.6325 20.2166 26.2744L17.0544 28.7303C18.6626 31.9251 21.9552
    34.1201 25.7803 34.1201Z"
    fill="#34A853" />
  <defs>
    <filter
      id="filter0_dd"
      x="0.826667"
      y="0.826667"
      width="188.347"
      height="49.52"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
      <feOffset dy="2.17333" />
      <feGaussianBlur stdDeviation="1.08667" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.24 0" />
      <feBlend
        mode="normal"
        in2="BackgroundImageFix"
        result="effect1_dropShadow" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
      <feOffset />
      <feGaussianBlur stdDeviation="1.08667" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0" />
      <feBlend
        mode="normal"
        in2="effect1_dropShadow"
        result="effect2_dropShadow" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="effect2_dropShadow"
        result="shape" />
    </filter>
  </defs>
</svg>
