<style>
  svg {
    width: 100%;
  }
</style>

<svg
  viewBox="0 0 190 52"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  >
  <g filter="url(#filter0_dd)">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M5.17334 3C3.97304 3 3 3.97303 3 5.17333V44.8267C3 46.027 3.97303 47
      5.17333 47H184.827C186.027 47 187 46.027 187 44.8267V5.17333C187 3.97303
      186.027 3 184.827 3H5.17334Z"
      fill="#F7931E" />
  </g>
  <path
    d="M28.5 14.3198C25.4624 14.3198 23 16.7822 23 19.8197C23 22.8572 25.4624
    25.3198 28.5 25.3198C31.5376 25.3198 34 22.8572 34 19.8197C34 16.7822
    31.5376 14.3198 28.5 14.3198ZM28.5 22.0934C27.2444 22.0934 26.2264 21.0754
    26.2264 19.8198C26.2264 18.5642 27.2444 17.5463 28.5 17.5463C29.7556 17.5463
    30.7736 18.5642 30.7736 19.8198C30.7736 21.0754 29.7556 22.0934 28.5
    22.0934Z"
    fill="white" />
  <path
    d="M30.6356 30.5053C32.9506 30.0593 34.3379 29.0226 34.4113 28.9669C35.0887
    28.4531 35.1975 27.5173 34.6543 26.8766C34.1111 26.236 33.1216 26.133 32.444
    26.6467C32.4297 26.6577 30.9501 27.7311 28.5156 27.7327C26.0812 27.7311
    24.5703 26.6577 24.556 26.6467C23.8784 26.133 22.8889 26.236 22.3457
    26.8766C21.8025 27.5173 21.9113 28.4531 22.5887 28.9669C22.6631 29.0233
    24.1076 30.0871 26.4875 30.5226L23.1707 33.8008C22.5679 34.392 22.5861
    35.3333 23.2112 35.9033C23.5163 36.1815 23.9095 36.3198 24.3024
    36.3198C24.7144 36.3198 25.1259 36.1676 25.4344 35.865L28.5157
    32.7608L31.9082 35.8851C32.5229 36.4655 33.5182 36.4645 34.1318
    35.8834C34.7453 35.3023 34.7445 34.3608 34.13 33.7806L30.6356 30.5053Z"
    fill="white" />
  <path
    d="M60.4595 25.2832C60.4595 26.2585 60.2909 27.1152 59.9536 27.8535C59.6164
    28.5872 59.1333 29.1523 58.5044 29.5488C57.8801 29.9408 57.16 30.1367
    56.3443 30.1367C55.5376 30.1367 54.8176 29.9408 54.1841 29.5488C53.5552
    29.1523 53.0676 28.5895 52.7212 27.8604C52.3794 27.1312 52.2062 26.2904
    52.2017 25.3379V24.7773C52.2017 23.8066 52.3726 22.9499 52.7144
    22.207C53.0607 21.4642 53.5461 20.8968 54.1704 20.5049C54.7993 20.1084
    55.5194 19.9102 56.3306 19.9102C57.1418 19.9102 57.8596 20.1061 58.4839
    20.498C59.1128 20.8854 59.5982 21.446 59.94 22.1797C60.2818 22.9089 60.4549
    23.7588 60.4595 24.7295V25.2832ZM58.73 24.7637C58.73 23.6608 58.5204 22.8154
    58.1011 22.2275C57.6864 21.6396 57.0962 21.3457 56.3306 21.3457C55.5832
    21.3457 54.9976 21.6396 54.5737 22.2275C54.1545 22.8109 53.9403 23.638
    53.9312 24.709V25.2832C53.9312 26.377 54.1431 27.2223 54.5669
    27.8193C54.9953 28.4163 55.5877 28.7148 56.3443 28.7148C57.1099 28.7148
    57.6978 28.4232 58.1079 27.8398C58.5226 27.2565 58.73 26.4043 58.73
    25.2832V24.7637ZM62.29 28.6738C62.7503 28.1589 63.0579 27.6712 63.2128
    27.2109C63.3723 26.7461 63.468 26.1536 63.4999 25.4336L63.5956
    22.6035H68.7294V28.6738H69.7548V32.2012H68.1005V30H63.3564V32.2012H61.6747L61.6816
    28.6738H62.29ZM64.2382 28.6738H67.0751V24.0322H65.2089L65.1611
    25.4473C65.0973 26.8053 64.7896 27.8809 64.2382 28.6738ZM77.3206
    30H75.6595V27.0127H72.7816V30H71.1205V22.6035H72.7816V25.6865H75.6595V22.6035H77.3206V30ZM79.0212
    26.2334C79.0212 25.5088 79.1648 24.8571 79.4519 24.2783C79.739 23.695
    80.1423 23.2484 80.6619 22.9385C81.1814 22.624 81.7784 22.4668 82.4529
    22.4668C83.4509 22.4668 84.2599 22.7881 84.8796 23.4307C85.504 24.0732
    85.8412 24.9255 85.8914 25.9873L85.8982 26.377C85.8982 27.1061 85.7569
    27.7578 85.4744 28.332C85.1964 28.9062 84.7953 29.3506 84.2712
    29.665C83.7517 29.9795 83.1502 30.1367 82.4666 30.1367C81.4229 30.1367
    80.5867 29.7904 79.9578 29.0977C79.3334 28.4004 79.0212 27.473 79.0212
    26.3154V26.2334ZM80.6824 26.377C80.6824 27.138 80.8396 27.735 81.1541
    28.168C81.4685 28.5964 81.906 28.8105 82.4666 28.8105C83.0271 28.8105
    83.4623 28.5918 83.7722 28.1543C84.0867 27.7168 84.2439 27.0765 84.2439
    26.2334C84.2439 25.486 84.0821 24.8936 83.7586 24.4561C83.4395 24.0186
    83.0043 23.7998 82.4529 23.7998C81.9106 23.7998 81.4799 24.0163 81.1609
    24.4492C80.8419 24.8776 80.6824 25.5202 80.6824 26.377ZM90.1691
    27.0742H89.3283V30H87.6672V22.6035H89.3283V25.5566H90.0597L92.1037
    22.6035H94.1545L91.4816 26.1445L94.3801 30H92.2199L90.1691 27.0742ZM101.816
    22.6035V30H100.155V23.9434H98.0631L97.9264 26.5205C97.8398 27.7601 97.6005
    28.651 97.2086 29.1934C96.8212 29.7311 96.2265 30 95.4244 30H94.9117L94.9049
    28.6191L95.2467 28.585C95.6112 28.5348 95.8756 28.3138 96.0396
    27.9219C96.2083 27.5254 96.3154 26.8053 96.3609 25.7617L96.4976
    22.6035H101.816ZM108.24 30C108.167 29.8587 108.104 29.6286 108.049
    29.3096C107.52 29.861 106.873 30.1367 106.107 30.1367C105.365 30.1367
    104.758 29.9248 104.289 29.501C103.82 29.0771 103.585 28.5531 103.585
    27.9287C103.585 27.1403 103.877 26.5365 104.46 26.1172C105.048 25.6934
    105.886 25.4814 106.976 25.4814H107.994V24.9961C107.994 24.6133 107.887
    24.3079 107.673 24.0801C107.459 23.8477 107.133 23.7314 106.695
    23.7314C106.317 23.7314 106.007 23.8271 105.766 24.0186C105.524 24.2054
    105.403 24.4447 105.403 24.7363H103.742C103.742 24.3307 103.877 23.9525
    104.146 23.6016C104.414 23.2461 104.779 22.9681 105.239 22.7676C105.704
    22.5671 106.221 22.4668 106.791 22.4668C107.657 22.4668 108.347 22.6855
    108.862 23.123C109.377 23.556 109.642 24.1667 109.655 24.9551V28.291C109.655
    28.9564 109.749 29.4873 109.936 29.8838V30H108.24ZM106.415 28.8037C106.743
    28.8037 107.051 28.724 107.338 28.5645C107.63 28.4049 107.848 28.1908
    107.994 27.9219V26.5273H107.099C106.483 26.5273 106.021 26.6344 105.711
    26.8486C105.401 27.0628 105.246 27.3659 105.246 27.7578C105.246 28.0768
    105.351 28.332 105.561 28.5234C105.775 28.7103 106.06 28.8037 106.415
    28.8037ZM114.671 28.8105C115.086 28.8105 115.43 28.6898 115.704
    28.4482C115.977 28.2067 116.123 27.9082 116.141 27.5527H117.706C117.688
    28.013 117.545 28.4437 117.276 28.8447C117.007 29.2412 116.642 29.5557
    116.182 29.7881C115.722 30.0205 115.225 30.1367 114.692 30.1367C113.657
    30.1367 112.837 29.8018 112.231 29.1318C111.625 28.4619 111.322 27.5368
    111.322 26.3564V26.1855C111.322 25.0599 111.622 24.1598 112.224
    23.4854C112.826 22.8063 113.646 22.4668 114.685 22.4668C115.565 22.4668
    116.28 22.7243 116.831 23.2393C117.387 23.7497 117.679 24.4219 117.706
    25.2559H116.141C116.123 24.832 115.977 24.4834 115.704 24.21C115.435 23.9365
    115.091 23.7998 114.671 23.7998C114.134 23.7998 113.719 23.9958 113.427
    24.3877C113.135 24.7751 112.987 25.3652 112.983 26.1582V26.4248C112.983
    27.2269 113.126 27.8262 113.413 28.2227C113.705 28.6146 114.124 28.8105
    114.671 28.8105ZM122.237 28.8105C122.652 28.8105 122.996 28.6898 123.269
    28.4482C123.543 28.2067 123.689 27.9082 123.707 27.5527H125.272C125.254
    28.013 125.111 28.4437 124.842 28.8447C124.573 29.2412 124.208 29.5557
    123.748 29.7881C123.288 30.0205 122.791 30.1367 122.258 30.1367C121.223
    30.1367 120.403 29.8018 119.797 29.1318C119.191 28.4619 118.888 27.5368
    118.888 26.3564V26.1855C118.888 25.0599 119.188 24.1598 119.79
    23.4854C120.391 22.8063 121.212 22.4668 122.251 22.4668C123.13 22.4668
    123.846 22.7243 124.397 23.2393C124.953 23.7497 125.245 24.4219 125.272
    25.2559H123.707C123.689 24.832 123.543 24.4834 123.269 24.21C123 23.9365
    122.656 23.7998 122.237 23.7998C121.699 23.7998 121.285 23.9958 120.993
    24.3877C120.701 24.7751 120.553 25.3652 120.549 26.1582V26.4248C120.549
    27.2269 120.692 27.8262 120.979 28.2227C121.271 28.6146 121.69 28.8105
    122.237 28.8105ZM133.03
    30H131.368V27.0127H128.49V30H126.829V22.6035H128.49V25.6865H131.368V22.6035H133.03V30ZM139.659
    22.6035H141.313V30H139.659V25.0645L136.76
    30H135.106V22.6035H136.76V27.5391L139.659 22.6035ZM145.946
    27.0742H145.106V30H143.444V22.6035H145.106V25.5566H145.837L147.881
    22.6035H149.932L147.259 26.1445L150.157 30H147.997L145.946 27.0742ZM155.925
    22.6035H157.58V30H155.925V25.0645L153.027
    30H151.373V22.6035H153.027V27.5391L155.925 22.6035Z"
    fill="white" />
  <defs>
    <filter
      id="filter0_dd"
      x="0.826667"
      y="0.826667"
      width="188.347"
      height="50.52"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
      <feOffset dy="2.17333" />
      <feGaussianBlur stdDeviation="1.08667" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.24 0" />
      <feBlend
        mode="normal"
        in2="BackgroundImageFix"
        result="effect1_dropShadow" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
      <feOffset />
      <feGaussianBlur stdDeviation="1.08667" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0" />
      <feBlend
        mode="normal"
        in2="effect1_dropShadow"
        result="effect2_dropShadow" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="effect2_dropShadow"
        result="shape" />
    </filter>
  </defs>
</svg>
