<style>
  svg {
    width: 100%;
  }
</style>

<svg
  viewBox="0 0 190 52"
  fill="none"
  xmlns="http://www.w3.org/2000/svg">
  <g filter="url(#filter0_dd)">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M5.17334 3C3.97304 3 3 3.97303 3 5.17333V44.8267C3 46.027 3.97303 47
      5.17333 47H184.827C186.027 47 187 46.027 187 44.8267V5.17333C187 3.97303
      186.027 3 184.827 3H5.17334Z"
      fill="#2786F6" />
  </g>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M40.4244 19.2129C40.6002 18.6603 40.4244 18.2734 39.6037
    18.2734H36.8682C36.1648 18.2734 35.8521 18.6234 35.6763 19.0103C35.6763
    19.0103 34.289 22.2155 32.3155 24.2787C31.6707 24.8866 31.3971 25.0708
    31.0454 25.0708C30.8696 25.0708 30.6156 24.8866 30.6156
    24.334V19.2129C30.6156 18.5498 30.4202 18.2734 29.834
    18.2734H25.5353C25.1054 18.2734 24.8319 18.5866 24.8319 18.8629C24.8319
    19.4892 25.8088 19.6366 25.9261 21.3682V25.1629C25.9261 25.9919 25.7698
    26.1392 25.418 26.1392C24.4997 26.1392 22.2331 22.934 20.9044
    19.2498C20.6309 18.5682 20.3769 18.2734 19.6734 18.2734H16.9379C16.1563
    18.2734 16 18.6234 16 19.0103C16 19.6919 16.9184 23.0813 20.3182
    27.5576C22.5848 30.6155 25.7698 32.2734 28.6616 32.2734C30.4006 32.2734
    30.6156 31.905 30.6156 31.2787V28.9576C30.6156 28.2208 30.7719 28.0734
    31.3385 28.0734C31.7488 28.0734 32.4327 28.2576 34.0545 29.7313C35.9108
    31.4813 36.2234 32.2734 37.259 32.2734H39.9945C40.7761 32.2734 41.1669
    31.905 40.9324 31.1866C40.6784 30.4682 39.7991 29.4182 38.6268
    28.1655C37.982 27.4471 37.0245 26.6919 36.751 26.305C36.3406 25.8076 36.4579
    25.5866 36.751 25.1629C36.751 25.1445 40.0922 20.7234 40.4244 19.2129Z"
    fill="white" />
  <path
    d="M70.8812 30V20.0469H74.2923C75.418 20.0469 76.2748 20.2725 76.8626
    20.7236C77.4505 21.1748 77.7445 21.847 77.7445 22.7402C77.7445 23.196
    77.6214 23.6061 77.3753 23.9707C77.1292 24.3353 76.7692 24.6178 76.2953
    24.8184C76.833 24.9642 77.2477 25.2399 77.5394 25.6455C77.8356 26.0465
    77.9837 26.5296 77.9837 27.0947C77.9837 28.029 77.683 28.7467 77.0814
    29.248C76.4844 29.7493 75.6276 30 74.5111 30H70.8812ZM72.6107
    25.5088V28.6191H74.5316C75.0739 28.6191 75.4977 28.4847 75.8031
    28.2158C76.1084 27.9469 76.2611 27.5732 76.2611 27.0947C76.2611 26.0602
    75.7324 25.5316 74.6751 25.5088H72.6107ZM72.6107 24.2373H74.306C74.8438
    24.2373 75.263 24.1165 75.5638 23.875C75.8692 23.6289 76.0218 23.2826
    76.0218 22.8359C76.0218 22.3438 75.8805 21.9883 75.598 21.7695C75.32 21.5508
    74.8848 21.4414 74.2923 21.4414H72.6107V24.2373ZM82.4187
    27.0742H81.5779V30H79.9168V22.6035H81.5779V25.5566H82.3093L84.3533
    22.6035H86.4041L83.7312 26.1445L86.6297 30H84.4695L82.4187 27.0742ZM87.0724
    26.2334C87.0724 25.5088 87.216 24.8571 87.5031 24.2783C87.7902 23.695
    88.1935 23.2484 88.7131 22.9385C89.2326 22.624 89.8296 22.4668 90.5041
    22.4668C91.5021 22.4668 92.311 22.7881 92.9308 23.4307C93.5552 24.0732
    93.8924 24.9255 93.9426 25.9873L93.9494 26.377C93.9494 27.1061 93.8081
    27.7578 93.5256 28.332C93.2476 28.9062 92.8465 29.3506 92.3224
    29.665C91.8029 29.9795 91.2013 30.1367 90.5177 30.1367C89.4741 30.1367
    88.6379 29.7904 88.009 29.0977C87.3846 28.4004 87.0724 27.473 87.0724
    26.3154V26.2334ZM88.7336 26.377C88.7336 27.138 88.8908 27.735 89.2052
    28.168C89.5197 28.5964 89.9572 28.8105 90.5177 28.8105C91.0783 28.8105
    91.5135 28.5918 91.8234 28.1543C92.1379 27.7168 92.2951 27.0765 92.2951
    26.2334C92.2951 25.486 92.1333 24.8936 91.8097 24.4561C91.4907 24.0186
    91.0555 23.7998 90.5041 23.7998C89.9618 23.7998 89.5311 24.0163 89.2121
    24.4492C88.8931 24.8776 88.7336 25.5202 88.7336 26.377ZM101.857
    30H100.196V27.0127H97.318V30H95.6568V22.6035H97.318V25.6865H100.196V22.6035H101.857V30ZM109.689
    23.9229H107.29V30H105.629V23.9229H103.257V22.6035H109.689V23.9229ZM115.348
    30C115.275 29.8587 115.211 29.6286 115.157 29.3096C114.628 29.861 113.981
    30.1367 113.215 30.1367C112.472 30.1367 111.866 29.9248 111.397
    29.501C110.927 29.0771 110.693 28.5531 110.693 27.9287C110.693 27.1403
    110.984 26.5365 111.568 26.1172C112.156 25.6934 112.994 25.4814 114.083
    25.4814H115.102V24.9961C115.102 24.6133 114.995 24.3079 114.781
    24.0801C114.566 23.8477 114.241 23.7314 113.803 23.7314C113.425 23.7314
    113.115 23.8271 112.873 24.0186C112.632 24.2054 112.511 24.4447 112.511
    24.7363H110.85C110.85 24.3307 110.984 23.9525 111.253 23.6016C111.522
    23.2461 111.887 22.9681 112.347 22.7676C112.812 22.5671 113.329 22.4668
    113.899 22.4668C114.765 22.4668 115.455 22.6855 115.97 23.123C116.485 23.556
    116.749 24.1667 116.763 24.9551V28.291C116.763 28.9564 116.857 29.4873
    117.043 29.8838V30H115.348ZM113.523 28.8037C113.851 28.8037 114.159 28.724
    114.446 28.5645C114.737 28.4049 114.956 28.1908 115.102
    27.9219V26.5273H114.206C113.591 26.5273 113.129 26.6344 112.819
    26.8486C112.509 27.0628 112.354 27.3659 112.354 27.7578C112.354 28.0768
    112.459 28.332 112.668 28.5234C112.883 28.7103 113.167 28.8037 113.523
    28.8037ZM121.369
    27.0742H120.528V30H118.867V22.6035H120.528V25.5566H121.26L123.304
    22.6035H125.354L122.681 26.1445L125.58 30H123.42L121.369 27.0742ZM132.551
    23.9229H130.152V30H128.49V23.9229H126.118V22.6035H132.551V23.9229ZM136.719
    30.1367C135.667 30.1367 134.812 29.8063 134.156 29.1455C133.504 28.4801
    133.178 27.596 133.178 26.4932V26.2881C133.178 25.5498 133.32 24.8913
    133.602 24.3125C133.889 23.7292 134.29 23.2757 134.805 22.9521C135.32
    22.6286 135.895 22.4668 136.528 22.4668C137.535 22.4668 138.312 22.7881
    138.859 23.4307C139.41 24.0732 139.686 24.9824 139.686
    26.1582V26.8281H134.853C134.903 27.4388 135.106 27.9219 135.462
    28.2773C135.822 28.6328 136.273 28.8105 136.815 28.8105C137.576 28.8105
    138.196 28.5029 138.674 27.8877L139.57 28.7422C139.274 29.1842 138.877
    29.5283 138.381 29.7744C137.888 30.016 137.335 30.1367 136.719
    30.1367ZM136.521 23.7998C136.065 23.7998 135.696 23.9593 135.414
    24.2783C135.136 24.5973 134.958 25.0417 134.881
    25.6113H138.046V25.4883C138.009 24.9323 137.861 24.513 137.601
    24.2305C137.341 23.9434 136.981 23.7998 136.521 23.7998Z"
    fill="white" />
  <defs>
    <filter
      id="filter0_dd"
      x="0.826667"
      y="0.826667"
      width="188.347"
      height="50.52"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
      <feOffset dy="2.17333" />
      <feGaussianBlur stdDeviation="1.08667" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.24 0" />
      <feBlend
        mode="normal"
        in2="BackgroundImageFix"
        result="effect1_dropShadow" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
      <feOffset />
      <feGaussianBlur stdDeviation="1.08667" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0" />
      <feBlend
        mode="normal"
        in2="effect1_dropShadow"
        result="effect2_dropShadow" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="effect2_dropShadow"
        result="shape" />
    </filter>
  </defs>
</svg>
