<script>
  import defaultData from "./data";
  const data = window.data || defaultData
  import ProjectCover from 'common/ProjectCover.svelte'
  import ListPage from 'common/ListPage.svelte'
  import Photos from 'common/Photos.svelte'

  import dict from "./dict";
  const lang = data.templateLang || 'ru';
  const translate = (key) => dict[key] && dict[key][lang] ? dict[key][lang] : key;
</script>

<ProjectCover cover={data.cover} projectTitle={data.fullname} />

<ListPage
  list={[
    { title: translate('birthDate'), value: data.birthDate },
    { title: translate('age'), value: new Date().getFullYear() - new Date(data.birthDate).getFullYear() },
  ]}
/>

<ListPage
  cover={data.cover}
  title={translate('data')}
  list={[
    { title: translate('height'), value: data.height },
    { title: translate('weight'), value: data.weight },
    { title: translate('closesSize'), value: data.closesSize },
    { title: translate('legsSize'), value: data.legsSize },
    { title: translate('eyesColor'), value: data.eyesColor },
    { title: translate('hairColor'), value: data.hairColor },
    { title: translate('lookType'), value: data.lookType },
  ]}
/>

<ListPage
  cover={data.cover}
  title={translate('ed')}
  list={[
    { title: translate('education'), value: data.education },
    { title: translate('courses'), value: data.courses },
  ]}
/>

<ListPage
  cover={data.cover}
  title={translate('genres')}
  list={[
    {
      value: data.genres
        .filter((item) => item.value)
        .map((item) => item.value)
        .join(', '),
    },
  ]}
/>

<ListPage
  cover={data.cover}
  title={translate('family')}
  list={[
    {
      title: translate('marriga'),
      value: data.marriga?.value,
    },
    {
      title: translate('children'),
      style: 'text-align: center;',
      value: data.children
        .filter((item) => item.name)
        .map((item) => {
          return `${item.name}${item.age ? `, ${item.age}` : ''}`
        })
        .join('\n'),
    },
    { title: translate('agreement'), value: data.agreement?.value },
  ]}
/>

<ListPage
  cover={data.cover}
  title={translate('city')}
  list={[
    {
      value: data.city,
    },
  ]}
/>

<ListPage
  cover={data.cover}
  title={translate('contacts')}
  list={[
    {
      title: translate('phone'),
      value: data.phone,
    },
    {
      title: translate('email'),
      value: data.email,
    },
    {
      title: translate('social'),
      value: data.social
        .filter((item) => item.link)
        .map((item) => item.link)
        .join('\n'),
    },
  ]}
/>

<ListPage
  cover={data.cover}
  title={translate('partnership')}
  list={[
    {
      title: translate('fee'),
      value: data.fee,
    },
    {
      title: translate('references'),
      value: data.references,
    },
  ]}
/>

<ListPage
  cover={data.cover}
  title={translate('docs')}
  list={[
    {
      title: translate('passport'),
      value: data.passport?.name || data.passport?.file,
      link: data.passport?.file,
    },
    {
      title: translate('pension'),
      value: data.pension?.name || data.pension?.file,
      link: data.pension?.file,
    },
    {
      title: translate('foreignPassport'),
      value: data.foreignPassport?.name || data.foreignPassport?.file,
      link: data.foreignPassport?.file,
    },
  ]}
/>
<ListPage
  cover={data.cover}
  title={translate('visas')}
  list={data.visas
    .filter((item) => item.country)
    .map((item) => ({
      title: item.country,
      value: item.issueTo,
    }))}
/>

{#if data.drivingLicense?.value === 'Есть'}
  <ListPage
    cover={data.cover}
    title={translate('car')}
    list={[
      {
        title: translate('drivingLicenseCategory'),
        value: data.drivingLicenseCategory,
      },
      {
        title: translate('drivingLicenseAge'),
        value: data.drivingLicenseAge,
      },
      ...(data.car.value === 'Есть' && data.carAgreement.value === 'Да'
        ? [{ title: translate('carType'), value: data.carType }]
        : []),
    ]}
  />
{/if}

{#if data.portrait || data.photoFull}
  <Photos
    cover={data.cover}
    title={translate('portrait')}
    borderRadius={false}
    list={
      [data.portrait, data.photoFull]
      .map((item) => {return {
        src: item,
        alt: 'actor',
        style: 'max-width: 60vmin; max-height: 60vmin;'
      }})
    } />
{/if}

<ListPage
  cover={data.cover}
  title={translate('yourself')}
  list={[
    ...(data.showRill
      ? [
          {
            value: translate('showRill'),
            link: data.showRill,
          },
        ]
      : []),
    {
      title: translate('job'),
      value: data.job,
    },
    {
      title: translate('styles'),
      value: data.styles
        .filter((item) => item.value)
        .map((item) => item.value)
        .join(', '),
    },
    {
      title: translate('languages'),
      value: data.languages
        .filter((item) => item.value)
        .map((item) => item.value)
        .join(', '),
    },
    {
      title: translate('role'),
      value: data.role,
    },
    ...(data.videoVisitCard
      ? [
          {
            value: translate('videoVisitCard'),
            link: data.videoVisitCard,
          },
        ]
      : []),
  ]}
/>
<ListPage
  cover={data.cover}
  title={translate('agent')}
  list={[
    {
      value: data.agnetName,
    },
    {
      value: data.agnetPhone,
    },
    {
      value: data.agnetEmail,
    },
  ]}
/>
