<script>
  
  import { HsvPicker } from "svelte-color-picker";
  import Overlay from "svelte-overlay";
  export let startColor = "#212121"
  export let value = startColor;
  function onChange(event) {
    const { r, g, b, a } = event.detail;
    value = `rgba(${r}, ${g}, ${b}, ${a})`;
  }
</script>

<Overlay closeOnClickOutside zIndex={9}>
  <div
    slot="parent"
    let:toggle
    on:click={toggle}
    class="picker"
    style={`background: ${value}`}
  >{""}</div>
  <div slot="content">
    <HsvPicker on:colorChange={onChange} {startColor} />
  </div>
</Overlay>

<style>
  .picker {
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
  }
</style>
