<script>
  import Dropzone from "svelte-file-dropzone";
  import Popup from "components/Popup.svelte";
  import Spacer from "components/Spacer.svelte";
  import Loader from "components/Loader.svelte";
  import text from "./_translation.js";
  import { apiUrl } from "config";
  import fileIcons from "./fileIcons";

  export let isOpen;
  export let value;
  export let tab = "upload";

  let isUploading = false;
  let isLoadingGallery = false;
  let gallery = [];
  let selectedDocument = null;
  const selectDocument = (doc) => {
    selectedDocument = {
      name: doc.origin_name,
      file: doc.document,
      fileType: "FILE",
    };
  };
  function handleFilesSelect(e) {
    const { acceptedFiles } = e.detail;
    if (acceptedFiles.length > 0) {
      const formData = new FormData();
      formData.append("document", acceptedFiles[0]);
      isUploading = true;
      fetch(`${apiUrl}/api/v1/docs/upload/`, {
        credentials: "include",
        method: "POST",
        body: formData,
      })
        .then((res) => res.json())
        .then((data) => {
          tab = "gallery";
          selectDocument(data);
        })
        .finally(() => (isUploading = false));
    }
  }
  const getGallery = () => {
    isLoadingGallery = true;
    fetch(`${apiUrl}/api/v1/docs/`, {
      credentials: "include",
    })
      .then((res) => res.json())
      .then((data) => (gallery = data.filter((item) => item.document)))
      .finally(() => (isLoadingGallery = false));
  };
  $: {
    if (tab === "gallery" || isOpen) {
      getGallery();
    }
  }
  const confirmDocument = () => {
    value = selectedDocument;
    isOpen = false;
  };
</script>

<Popup bind:isOpen size="large">
  <div slot="header">
    <button
      type="button"
      on:click={() => (tab = "upload")}
      class="tab"
      class:isActive={tab === "upload"}
    >
      {$text("UPLOAD")}
    </button>
    <button
      type="button"
      on:click={() => (tab = "gallery")}
      class="tab"
      class:isActive={tab === "gallery"}
    >
      {$text("LIB")}
    </button>
    <div class="divider" />
    <Spacer />
  </div>
  <div>
    {#if tab === "upload"}
      {#if isUploading}
        <Loader>{$text("LOADING")}</Loader>
      {:else}
        <Dropzone
          on:drop={handleFilesSelect}
          accept=".doc, .docx, .xls, .xlsx, .pdf"
          multiple={false}
          containerStyles="cursor:pointer"
        >
          {$text("SELECT_DOCUMENT")}
        </Dropzone>
      {/if}
    {/if}

    {#if tab === "gallery"}
      {#if isLoadingGallery}
        <Loader>Загружаем</Loader>
      {:else if gallery.length === 0}
        {$text("NO_DOCUMENTS")}
      {:else}
        <div class="galleryWrapper">
          <div class="gallery">
            {#each gallery as item}
              <div class="itemWrapper">
                <div
                  class="file"
                  class:selected={item.document === selectedDocument?.file}
                  on:click={() => selectDocument(item)}
                  on:dblclick={() => {
                    selectDocument(item);
                    confirmDocument();
                  }}
                >
                  <div class="fileIcon">
                    <svelte:component
                      this={fileIcons[item.origin_name.split(".").slice(-1)] ||
                        fileIcons.file}
                    />
                  </div>
                  <div class="filename">{item.origin_name}</div>
                </div>
              </div>
            {/each}
          </div>
          <Spacer size={16} />
        </div>
      {/if}
    {/if}
  </div>
  <div slot="footer" class="footer">
    <button type="button" class="close" on:click={() => (isOpen = false)}>
      {$text("CANCEL")}
    </button>
    <button
      type="button"
      disabled={!selectedDocument}
      on:click={confirmDocument}
      class="select"
    >
      {$text("SELECT")}
    </button>
  </div>
</Popup>

<style>
  .fileIcon {
    width: 50px;
  }
  .tab {
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid transparent;
    margin: 0 8px 0 0;
    cursor: pointer;
  }
  .isActive {
    border-bottom: 2px solid #03a8b9;
  }
  .divider {
    height: 1px;
    background: #f2f2f2;
  }
  .footer {
    display: flex;
    justify-content: space-between;
  }
  .close {
    color: #03a8b9;
    background: none;
    border: none;
  }
  .galleryWrapper {
    overflow: hidden;
  }
  .file {
    cursor: pointer;
  }
  .file :global(svg) {
    fill: #212121;
  }
  .file:hover :global(svg) {
    fill: #ffaf00;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px -16px 0;
    justify-content: flex-start;
  }

  .filename {
    color: #212121;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
  .file.selected :global(svg) {
    fill: #03a8b9;
  }
  .selected .filename {
    color: #03a8b9;
  }
  .itemWrapper {
    position: relative;
    padding: 0 16px 16px 0;
    width: 25%;

    box-sizing: border-box;
  }
  .select {
    border: none;
    background: #ffaf00;
    box-shadow: 0px 20px 50px rgba(255, 175, 0, 0.21);
    border-radius: 8px;
    color: white;
    padding: 8px 16px;
  }
  .select:disabled {
    background: silver;
    box-shadow: none;
  }
</style>
