<script>
  
  import Popup from "components/Popup.svelte";
  import { apiUrl } from "config";
  import { nanoid } from "nanoid/non-secure";
  import Stock from './ImageSelector/Stock.svelte'
  import Header from './ImageSelector/Header.svelte'
  import Upload from './ImageSelector/Upload.svelte'
  import Footer from './ImageSelector/Footer.svelte'
  import Gallery from './ImageSelector/Gallery.svelte'
  export let isOpen;
  export let value;
  export let tab = "upload";
  export let multi = false;
  export let max = 100;

  let isUploading = false;
  
  let selectedImage = multi ? {} : null;
  $: if (isOpen && multi) {
    selectedImage = {};
  }
  function handleFilesSelect(e) {
    const { acceptedFiles } = e.detail;
    if (acceptedFiles.length > 0) {
      const formData = new FormData();
      formData.append("image", acceptedFiles[0]);
      isUploading = true;
      fetch(`${apiUrl}/api/v1/media/upload/`, {
        credentials: "include",
        method: "POST",
        body: formData,
      })
        .then((res) => res.json())
        .then((data) => {
          tab = "gallery";
          selectedImage = multi ? { [data.image]: true } : data.image;
        })
        .finally(() => (isUploading = false));
    }
  }
  
  const confirmImage = () => {
    if (multi) {
      value = [
        ...value,
        ...Object.keys(selectedImage).map((key) => ({
          id: nanoid(),
          image: key,
        })),
      ];
    } else {
      value = selectedImage;
    }

    isOpen = false;
  };
  const selectImage = (image) => {
    if (multi) {
      if (!selectedImage) selectedImage = {};
      if (selectedImage[image]) {
        delete selectedImage[image];
        selectedImage = selectedImage;
      } else if (Object.keys(selectedImage).length + value.length < max) {
        selectedImage[image] = true;
      }
    } else {
      selectedImage = image;
    }
  };
</script>

<Popup bind:isOpen size="large">
  <div slot="header">
    <Header bind:tab />
  </div>
  <div class="tabContent">
    {#if tab === "upload"}
      <Upload {isUploading} {handleFilesSelect}/>
    {/if}
    {#if tab === "gallery"}
      <Gallery {tab} {isOpen} {multi} {selectedImage} {selectImage} {confirmImage}/>
    {/if}
    {#if tab === "stock"}
        <Stock {multi} {selectedImage} {selectImage} {confirmImage}/>
    {/if}
  </div>
  <div slot="footer" class="footer">
    <Footer bind:isOpen {multi} {confirmImage} {selectedImage}/>
  </div>
</Popup>

<style>
  
  .footer {
    display: flex;
    justify-content: space-between;
  }
</style>
