<script>
  export let value;
  export let maxlength;
  export let autocomplete = false
  export let name;
  export let required=false;
</script>
<input bind:value {maxlength} autocomplete={autocomplete ? 'on': 'off'} {name} {required}/>

<style>
  input {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(255 255 255 / 1);
    border-radius: 10px;
    padding: 16px 24px;
    line-height: 1.2;
    display: block;
    width: 100%;
    border: 1px solid #dfdfdf;
    margin: 0;
  }
  input:focus {
    outline: none;
  }
  input:hover, input:focus{
      border-color: #b2b8bf;
  }
</style>
