<script>
  export let value;
  export let maxlength;
  const formatInput = (e)=>{
    
    if(e.target.value.slice(-3)==='\n\n\n'){
      value = e.target.value.slice(0, -1)
    }
    
  }
</script>
<textarea rows="3" bind:value {maxlength} on:input={formatInput}/>

<style>
  textarea {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(255 255 255 / 1);
    border-radius: 10px;
    padding: 16px 24px;
    line-height: 1.2;
    display: block;
    width: 100%;
    border: 1px solid #dfdfdf;
  }
  textarea:focus {
    outline: none;
  }
  textarea:hover,
  textarea:focus {
    border-color: #b2b8bf;
  }
  textarea {
    resize: vertical;
  }
</style>
