<script>
  export let title;
  export let description;
  import Spacer from "components/Spacer.svelte";
  import Info from "components/Info.svelte"
  import {slidesText} from 'store/lang'
</script>

{#if title}
  <div class="title">
    {$slidesText(title)}
    {#if description}
      <Spacer vertical size={4} />
      <Info size={16} content={$slidesText(description)} />
    {/if}
  </div>
  <Spacer />
{/if}
<Spacer />

<style>
  .title {
    font-weight: bold;
  }
</style>
