<script>
  import Datepicker from "components/DatePicker/Datepicker.svelte";
  import Title from "../base/Title.svelte";
  import text from "./_translation.js";
  
  export let value;
  export let data = {};
  const formatDate = (date)=>{
    const month = `${date.getMonth() + 1}`;
    const day = `${date.getDate()}`;
    return `${day.padStart(2, '0')}.${month.padStart(2, '0')}.${date.getFullYear()}`
  }
  if(value?.includes('NaN')){
    value = formatDate(new Date())
  }
  $: preselected = value ? new Date(`${value.slice(6,10)}-${value.slice(3,5)}-${value.slice(0,2)}`) : new Date()
</script>
<!-- selected={preselected} -->
<Title {...data} />
<div class="calendarWrapper">
<Datepicker
  end={data.props?.end ? new Date(data.props.end): new Date('2100-01-01')}
  start={data.props?.start ? new Date(data.props.start): new Date('1900-01-01')}
  selected={preselected}
  bind:formattedSelected={value}
  format={formatDate}
  daysOfWeek={$text("DAYS_OF_WEEK")}
  monthsOfYear={$text("MONTH_OF_YEAR")}
/>
</div>
<style>
.calendarWrapper :global(.calendar-button){
  width: auto;
}
</style>