<script>
  export let data = {};
  import Title from "../base/Title.svelte";
  import Spacer from "components/Spacer.svelte";
  import DocumentSelector from "../base/DocumentSelector.svelte";
  import Input from "../base/Input.svelte";
  import text from "./_translation.js";
  export let value = {};
  if (typeof value !== "object") {
    value = { file: "", name: "", fileType: 'URL' };
  }
  if(!value.fileType){
    value.fileType = 'URL'
  }

  let isPopupOpen = false;
</script>

<Title {...data} />
<div class="selector">
  <div
    class="selectorButton"
    class:selected={value.fileType === "URL"}
    on:click={() => (value.fileType = "URL")}
  >
    {$text("URL")}
  </div>
  <div
    class="selectorButton"
    class:selected={value.fileType === "FILE"}
    on:click={() => (value.fileType = "FILE")}
  >
    {$text("FILE")}
  </div>
</div>
<Spacer size={16} />
{#if value.fileType === "URL"}
  <div class="input">
    <Input bind:value={value.file} {...data.props || {}} />
  </div>
  <Spacer size={7} />
{:else}
  <div class="fileButtonWrapper">
    <button type="button" on:click={() => (isPopupOpen = true)}
      >{$text("ADD_DOCUMENT")}</button
    >
    <div class="text">{value.file|| ""}</div>
  </div>
{/if}
<Spacer size={16} />
<div class="text">{$text("LINK_TEXT")}</div>
<div class="input">
  <Input bind:value={value.name} {...data.props || {}} />
</div>


<DocumentSelector bind:isOpen={isPopupOpen} bind:value />

<style>
  .fileButtonWrapper {
    min-height: 53px;
  }
  .text {
    margin-bottom: 4px;
    color: #a8a8a8;
    font-size: 12px;
  }
  .input {
    flex-grow: 1;
  }
  .selector {
    border-radius: 8px;
    border: 1px solid #03a8b9;
    display: inline-flex;
    overflow: hidden;
    cursor: pointer;
  }
  .selectorButton {
    padding: 8px 16px;
    font-size: 16px;
    min-width: 90px;
    text-align: center;
    color: #333;
  }
  .selected {
    background-color: #03a8b9;
    color: white;
  }
</style>
