<script>
  export let data = {};
  import Title from "../base/Title.svelte";
  import ImageSelector from "../base/ImageSelector.svelte";
  import Close from "assets/Close.svelte";

  import text from "./_translation.js";
  export let value;
  let isPopupOpen = false;
</script>

<Title {...data} />
{#if value}
  <div class="imageContainer">
    <div class="close" on:click={() => (value = null)}><Close size={10} /></div>
    <img
      src={value}
      alt={data.id}
      class="image"
      on:click={() => (isPopupOpen = true)}
    />
  </div>
{:else}
  <button type="button" on:click={() => (isPopupOpen = true)} >{$text("ADD_IMAGE")}</button>
{/if}

<ImageSelector bind:isOpen={isPopupOpen} bind:value />

<style>
  .image {
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;
    background: #36474f;
  }
  .imageContainer {
    position: relative;
    display: inline-block;
    max-width: 100px;
  }
  .imageContainer:hover .close {
    visibility: visible;
  }
  .close {
    visibility: hidden;
    position: absolute;
    top: -8px;
    right: -8px;
    background: #f44336;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-shadow: 0 0 60px rgb(0 0 0 / 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .close :global(svg) {
    display: inline-block;
  }
  .close :global(path) {
    fill: white;
  }
</style>
