<script>
    
    import Textarea from "../base/Textarea.svelte";
    import Title from "../base/Title.svelte";
    export let data = {};
    export let value;
    
  </script>
  
  <Title {...data}/>
  <Textarea bind:value {...data.props}/>
  
  