<script>
  import Title from "../base/Title.svelte";
  import Dropzone from "svelte-file-dropzone";
  import Loader from "components/Loader.svelte";
  import Close from "assets/Close.svelte";
  import Spacer from "components/Spacer.svelte";
  import { apiUrl } from "config";
  import text from "./_translation.js";
  import { nanoid } from "nanoid/non-secure";
  import ImageSelector from "../base/ImageSelector.svelte";
  import { dndzone } from "svelte-dnd-action";
  export let data = {};
  export let value;

  let isPopupOpen = false;
  let isUploading = false;
  if (!Array.isArray(value)) {
    value = [];
  } else {
    value = value.map((item, i) =>
      item.id ? item : { ...item, id: nanoid() }
    );
  }

  
  if (!Array.isArray(value)) {
    value = [{ text: "", image: "" }];
  }

  function uploadImage(file) {
    const formData = new FormData();
    formData.append("image", file);
    return fetch(`${apiUrl}/api/v1/media/upload/`, {
      credentials: "include",
      method: "POST",
      body: formData,
    })
      .then((res) => res.json())
      .then((data) => {
        value = [...value, { id: nanoid(), image: data.image }];
      });
  }

  const handleFilesSelect = (e) => {
    const { acceptedFiles } = e.detail;
    const maxFiles = data.props && data.props.max ? data.props.max : 100;
    
    if (acceptedFiles.length) {
      const files = acceptedFiles.slice(0, maxFiles-value.length)
      isUploading = true;
      Promise.all(files.map((file) => uploadImage(file))).finally(
        () => (isUploading = false)
      );
    }
  };

  const remove = (deleteItem) => {
    value = value.filter((item) => item.id !== deleteItem.id);
  };

  function handleConsider(e) {
    value = e.detail.items;
  }
  function handleFinalize(e) {
    value = e.detail.items;
  }
</script>

<Title {...data} />
<section
  use:dndzone={{
    items: value,
    type: data.id,
    dropFromOthersDisabled: true,
    transformDraggedElement: (element) =>
      (element.querySelector(".close").style.visibility = "hidden"),
  }}
  on:consider={handleConsider}
  on:finalize={handleFinalize}
  class="images"
>
  {#each value as item (item.id)}
    {#if item.isDndShadowItem}
      <div>placeholder</div>
    {:else}
      <div class="imageContainer">
        <div class="close" on:click={() => remove(item)}>
          <Close size={10} />
        </div>
        <img src={item.image} alt={data.id} class="image" />
      </div>
    {/if}
  {/each}
</section>
{#if isUploading}
  <Loader>{$text("UPLOADING")}</Loader>
{:else if !data.props || value.length < data.props.max }
  <div class="selectZone">
    <Dropzone
      on:drop={handleFilesSelect}
      accept="image/*"
      multiple={true}
      containerStyles="cursor:pointer"
    >
      {$text("SELECT_IMAGE")}
    </Dropzone>
    <Spacer vertical size={16} />
    <button type="button" on:click={() => (isPopupOpen = true)} class="selectImageButton"
      >{$text("SELECT_FROM_GALERY")}</button
    >
  </div>
{/if}

<ImageSelector
  bind:isOpen={isPopupOpen}
  bind:value
  tab="gallery"
  multi={true}
  max={data.props && data.props.max ? data.props.max : 100}
/>

<style>
  .images {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .selectZone {
    display: flex;
    align-items: center;
  }
  .image {
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;
    background: #36474f;
  }
  .imageContainer {
    margin: 8px;
    position: relative;
    display: inline-block;
    max-width: 100px;
  }
  .imageContainer:hover .close {
    visibility: visible;
  }
  .imageContainer .close {
    visibility: hidden;
  }
  .close {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    top: -8px;
    right: -8px;
    background: #f44336;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-shadow: 0 0 60px rgb(0 0 0 / 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .close :global(svg) {
    display: inline-block;
  }
  .close :global(path) {
    fill: white;
  }
  @media (max-width: 600px) {
    .imageContainer,
    .image {
      user-select: none;
    }
    .selectZone {
      flex-direction: column;
    }
    .selectImageButton {
      margin-top: 8px;
    }
  }
</style>
