<script>
  import Spacer from "components/Spacer.svelte";
  import Add from "assets/Add.svelte";
  import Close from "assets/Close.svelte";
  import { getContext } from "svelte";
  import { dndzone, SOURCES, TRIGGERS } from "svelte-dnd-action";
  import Title from "../base/Title.svelte";
  import { nanoid } from "nanoid/non-secure";
  import blocks from "./index.js";
  import { lang } from "store/lang";
  export let value;
  export let data;
  let dragDisabled = true;

  if (!Array.isArray(value)) {
    if (data.defaultValue) {
      value = [...(data.defaultValue[$lang] || data.defaultValue)];
    } else {
      value = [{ id: nanoid() }];
    }
  } else {
    value = value.map((item, i) =>
      item.id ? item : { ...item, id: nanoid() }
    );
  }
  const addRow = () => {
    value = [...value, { id: nanoid() }];
  };

  function handleConsider(e) {
    const {
      items: newItems,
      info: { source, trigger },
    } = e.detail;
    value = newItems;
    // Ensure dragging is stopped on drag finish via keyboard
    if (source === SOURCES.KEYBOARD && trigger === TRIGGERS.DRAG_STOPPED) {
      dragDisabled = true;
    }
  }
  function handleFinalize(e) {
    const {
      items: newItems,
      info: { source },
    } = e.detail;
    value = newItems;
    // Ensure dragging is stopped on drag finish via pointer (mouse, touch)
    if (source === SOURCES.POINTER) {
      dragDisabled = true;
    }
  }
  function startDrag(e) {
    // preventing default to prevent lag on touch devices (because of the browser checking for screen scrolling)
    e.preventDefault();
    dragDisabled = false;
  }
  function handleKeyDown(e) {
    if ((e.key === "Enter" || e.key === " ") && dragDisabled)
      dragDisabled = false;
  }
  const remove = (i) => {
    value.splice(i, 1);
    value = [...value];
  };

  const border = getContext("border");
</script>

<Title {...data} />
<section
  use:dndzone={{
    items: value,
    dragDisabled,
    type: data.id,
    dropFromOthersDisabled: true,
    transformDraggedElement: (element) =>
      (element.innerHTML = `<div style="height:20px;background:${border}; border-radius:10px;"></div>`),
  }}
  on:consider={handleConsider}
  on:finalize={handleFinalize}
>
  {#each value as section, k (section.id)}
    {#if section.isDndShadowItem}
      <div>placeholder</div>
    {:else}
      <div class="section" style={`--border:${border}`}>
        <div
          tabindex={dragDisabled ? 0 : -1}
          aria-label="drag-handle"
          class="handle"
          style={dragDisabled ? "cursor: grab" : "cursor: grabbing"}
          on:mousedown={startDrag}
          on:touchstart={startDrag}
          on:keydown={handleKeyDown}
        >
        <svg viewBox="0 0 384 384" class="handleImg">
          <circle cx="192" cy="42.667" r="42.667" />
          <circle cx="192" cy="192" r="42.667" />
          <circle cx="192" cy="341.333" r="42.667" />
        </svg>
      </div>
        <div class="content">
          {#each data.fields as item, i (item.id)}
            <div>
              {#if item.type.toLowerCase() === "multi"}
                <div class="nestedMulti">
                  <svelte:self data={item} bind:value={value[k][item.id]} />
                </div>
              {:else}
                <svelte:component
                  this={blocks[item.type.toLowerCase()]}
                  data={item}
                  bind:value={value[k][item.id]}
                />
              {/if}
              {#if i < data.fields.length - 1}
                <Spacer size={16} />
              {/if}
            </div>
          {/each}
        </div>
        <div class="delete" on:click={() => remove(k)}><Close size={10} /></div>
      </div>
    {/if}
  {/each}
</section>
{#if !data.props?.max || value.length < data.props?.max}
  <div class="addRow">
    <button type="button" on:click={addRow} class="add"><Add /></button>
  </div>
{/if}

<style>
  .add {
    background: none;
    border: none;
  }
  .section {
    --border: #03a8b9;
    display: flex;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 16px 16px 16px 32px;
    position: relative;
    box-sizing: border-box;
  }
  .add :global(path) {
    fill: #03a8b9;
  }
  .addRow {
    display: flex;
    justify-content: flex-end;
  }
  .nestedMulti {
    margin-left: 16px;
  }
  .handle {
    position: absolute;
    top: -1px;
    left: -1px;
    height: 100%;
    width: 16px;
    background-color: var(--border);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid var(--border);
  }
  .handleImg{
    fill: white;
    position: absolute;
    top: 17px;
    left: 1px;
    width: 16px;
  }
  .content {
    flex-grow: 1;
  }
  section .section {
    margin-bottom: 16px;
  }
  section .section:last-child {
    margin-bottom: 0px;
  }
  .delete {
    visibility: hidden;
    position: absolute;
    top: -8px;
    right: -8px;
    background: #f44336;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-shadow: 0 0 60px rgb(0 0 0 / 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .delete :global(svg) {
    display: inline-block;
  }
  .delete :global(path) {
    fill: white;
  }
  .section:hover .delete,
  .section:focus .delete {
    visibility: visible;
  }
</style>
