<script>
  import Select from "svelte-select";
  import Title from "../base/Title.svelte";
  import { slidesText } from "store/lang";
  import text from "./_translation";
  import Input from "../base/Input.svelte";
  import Spacer from 'components/Spacer.svelte'
  export let data = {};
  export let value;

  let ownOption = false;
  function handleSelect(event) {
    // console.log("selected item", event.detail);
  }

  
  $: props = data.props || {};
  if (data.props && data.props.multi && !Array.isArray(value)) {
    value = [];
  }
  $: translatedOptions = [
    ...(data.props.ownOption ? [$slidesText("OWN_OPTION")] : []),
    ...data.props.items.map((item) => $slidesText(item)),
  ];
  $: if(Array.isArray(value)){
    ownOption = value.find((item) => item.label === $slidesText("OWN_OPTION"))
    
  } else if(value && value.label === $slidesText("OWN_OPTION")){
    ownOption = value
    
  } else {
    ownOption = false
  }
  $: if(ownOption && ownOption.value===$slidesText("OWN_OPTION")) ownOption.value = ''

</script>

<Title {...data} />
<div class="themed">
  <Select
    items={translatedOptions}
    bind:selectedValue={value}
    on:select={handleSelect}
    placeholder={$text(data.props.placeholder || "SELECT_OPTION")}
    isMulti={Boolean(props.multi)}
    inputStyles="top: 0; line-height:1.2;"
  />
</div>

{#if ownOption}
<Spacer />
<Title {...props.ownOptionProps} />
  <Input bind:value={ownOption.value} {...props.ownOptionProps}/>
{/if}

<style>
  .themed {
    --border: 1px solid #dfdfdf;
    --borderRadius: 10px;
    --borderFocusColor: #b2b8bf;
    --inputFontSize: 16px;
    --inputPadding: 16px 24px;
    --selectedItemPadding: 16px 8px;
  }
</style>
