<script>
  export let data = {};
  import Color from "../base/Color.svelte";
  import Input from "../base/Input.svelte";
  import Title from "../base/Title.svelte";
  export let value;
</script>

<Title {...data} />
<div class="container">
  <div class="input">
    <Input bind:value {...(data.props||{})} name={data.id}/>
  </div>
  {#if data.color}
  <div class="color">
    <Color />
  </div>
  {/if}
</div>

<style>
  .container {
    display: flex;
    align-items: center;
  }
  .input {
    flex-grow: 1;
  }
  .color {
    margin-left: 16px;
  }
</style>
