<script>
  export let data = {};

  import Input from "../base/Input.svelte";
  import Title from "../base/Title.svelte";
  export let value;
</script>

<Title {...data} />

<Input bind:value {...data.props || {}} />
