<script>
    import {onMount} from 'svelte'
  import { slide } from "svelte/transition";
  import Menu from "assets/Menu.svelte";
  import Lang from "components/Lang.svelte";
  import Logo from "components/Logo.svelte";
  import Spacer from "components/Spacer.svelte";
  import { isActive, url } from "@roxi/routify";
  import text from "../_translation.js";

  let mobileMenuRef;
  $: menu = [
    // ["/cabinet/templates", $text('TEMPLATES')],
    // ["/cabinet/index", $text('MAIN')],
    // ["/cabinet/slides", $text('MY_SLIDES')],
  ];
  let isMenuOpen = false;
  const openMenu = () => {
    isMenuOpen = !isMenuOpen;
    console.log(isMenuOpen);
  };
  const closeMenu = () => {
    isMenuOpen = false;
  };

  onMount(() => {
    
    document.body.appendChild(mobileMenuRef);
    return () => {
      document.body.removeChild(mobileMenuRef);
    };
  });
</script>

<div class="topbar">
  <div class="wrapper">
    <a href="/cabinet">
      <Logo />
    </a>
    <Spacer vertical size={24} />
    <Lang />
    <div class="menu">
      <!-- {#each menu as [path, name], i (path)}
                <a href={$url(path)} class="menuLink" class:active={$isActive(path)}>
                    {name}
                </a>
            {/each} -->
    </div>

    <div class="auth">
      <a href={$url("/auth/login")} class="menuLink">
        {$text("SIGN_IN")}
      </a>
      <a href={$url("/auth/signup")} class="menuButton">
        {$text("SIGN_UP")}
      </a>
    </div>
    <div class="mobileMenu" >
      <div on:click|stopPropagation={openMenu}>
        <Menu />
      </div>
      <div bind:this={mobileMenuRef}>
      {#if isMenuOpen}
        <div
          class="mobileMenuItems"
          transition:slide|local={{ y: 200, duration: 200 }}
        >
          {#each menu as [path, name], i (path)}
            <a
              href={$url(path)}
              class:active={$isActive(path)}
              class="menuLink"
            >
              {name}
            </a>
          {/each}
          <a href={$url("/auth/login")} class="menuLink">
            {$text("SIGN_IN")}
          </a>
          <a href={$url("/auth/signup")} class="menuLink">
            {$text("SIGN_UP")}
          </a>
        </div>
      {/if}
    </div>
    </div>
  </div>
</div>
<svelte:window on:click={closeMenu} />

<style>
  .topbar {
    position: sticky;
    top: 0px;
    background: white;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 54px;
  }
  .menu {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  .menuLink {
    color: #4d4d4d;
    font-size: 14px;
    margin: 0 16px;
  }
  .menuButton {
    background-color: var(--yellow);
    color: black;
    text-decoration: none;
    font-size: 14px;
    margin: 0 16px;
    padding: 1rem;
    border-radius: 1.5rem;
  }
  .menuLink:hover {
    text-decoration: none;
    text-shadow: 0px 0px 1px #4d4d4d;
  }
  .menuLink.active {
    border-bottom: 2px solid var(--yellow);
  }
  .mobileMenuItems {
    position: fixed;
    top: 60px;
    right: 2px;
    background: white;
    padding: 16px 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;;
  }
  .mobileMenuItems .menuLink {
    display: block;
    font-size: 24px;
  }
  @media (max-width: 600px) {
    .menu {
      display: none;
    }
    .auth {
      display: none;
    }
    .wrapper {
      padding: 8px;
    }
  }
  @media (min-width: 601px) {
    .mobileMenu {
      display: none;
    }
  }
</style>
