<script>
  import text from "../_translation.js";
</script>

<div>
  <img src={$text("POSTER_URL")} alt="Poster" />
</div>

<style>
  div {
    border-radius: 25px;
    border: solid 10px #252525;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    margin: -5px;
    width: 101%;
  }
</style>
