<script>
  import { goto } from "@roxi/routify";
  import { user } from "store/auth";
  import Spacer from "components/Spacer.svelte";
  import Header from "../_components/Header.svelte";

  import text from "../../_translation.js";
</script>

{#if $user.needConfirmation !== true}
  {$goto("/auth/login")}
{/if}
<div class="login">
  <Header center>{$text("CONFIRM_TITLE")}</Header>
  <Spacer size={16} />
  <div class="description">{$text("CHECK_YOUR_INBOX")}</div>
  <Spacer size={48} />
  <button class="filled" on:click={user.login}>
    {$text("CONFIRM_BUTTON")}
  </button>
</div>

<style>
  .login {
    max-width: 380px;
  }
  .filled {
    background: var(--yellow);
    border: none;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    width: 100%;
  }
  .description {
    text-align: center;
  }
</style>
