<script>
  import defaultData from "./data";
  const data = window.data || defaultData

  import ProjectCover from 'common/ProjectCover.svelte'
  import ListPage from 'common/ListPage.svelte'
  import Photos from 'common/Photos.svelte'
  import LongText from "common/LongText.svelte";

  import dict from "./dict";
  const lang = data.templateLang || 'ru';
  const translate = (key) => dict[key] && dict[key][lang] ? dict[key][lang] : key;

</script>

<ProjectCover cover={data.cover} projectName={data.fullname} />
