<script>
  import defaultData from "./data";
  const data = window.data || defaultData
  import ProjectCover from 'common/ProjectCover.svelte'
  import ListPage from 'common/ListPage.svelte'
  import Photos from 'common/Photos.svelte'
  import LongText from "common/LongText.svelte";

  import dict from "./dict";
  const lang = data.templateLang || 'ru';
  const translate = (key) => dict[key] && dict[key][lang] ? dict[key][lang] : key;
</script>

<ProjectCover cover={data.cover} projectTitle={data.projectName} projectSubtitle={data.projectType?.value} />

<ListPage
  list={[
    { title: translate("genre"), value: data.genre },
    { title: translate("format"), value: data.format },
    { link: data.document?.file, value: data.document?.name },
  ]}
/>

<LongText
  cover={data.cover}
  title={translate("what")}
  text={data.description}
/>

<LongText
  cover={data.cover}
  title={translate("importance")}
  text={data.importance}
/>

<LongText
  cover={data.cover}
  title={translate("plan")}
  text={data.plan}
/>

<ListPage
  cover={data.cover}
  title={translate("forWho")}
  list={[
    { title: translate("geography"), value: data.geography
        .filter((item) => item.value)
        .map((item) => item.value)
        .join(', ')  },
    { title: translate("age"), value: data.age
        .filter((item) => item.value)
        .map((item) => item.value)
        .join(', ') },
    { title: translate("job"), value: data.job },
    { title: translate("sex"), value: data.sex?.value },
  ]}
/>

<ListPage
  cover={data.cover}
  title={translate("cost")}
  list={[
    { title: translate("price"), value: data.price ? data.price + ' ' + data.currency?.value : null},
    { title: translate("source"), value: data.finance },
  ]}
/>

<ListPage
  cover={data.cover}
  title={translate("when")}
  list={
    data.when
      .filter((item) => item.id)
      .map((item) => {
        return {title: item.stageName, value: item.stageDate}
      })
  }
/>

<Photos
  cover={data.cover}
  title={translate("partners")}
  cols={3}
  borderRadius={false}
  list={
    data.partners.map((partner) => {return {
      title: partner.name,
      subtitle: partner.partnershipForm?.value,
      src: partner.image,
      alt: 'partner',
      style: 'max-width: 10vmax; max-height: 10vmax;'
    }})
  }
/>

<ListPage
  cover={data.cover}
  title={translate("reference")}
  list={
    data.reference.map((reference) => {return {
        title: reference.referenceDescription,
        link: reference.link,
        value: reference.name
      }})
  }
/>

<Photos
  cover={data.cover}
  title={translate("team")}
  borderRadius={true}
  cols={3}
  list={
    data.team.filter((item) => item.image || item.name)
    .map((teammate) => {return {
      title: teammate.name,
      subtitle: teammate.position?.value,
      src: teammate.image,
      alt: 'teammate',
      style: 'max-width: 10vmax; max-height: 10vmax;'
    }})
  }
/>

<Photos
  cover={data.cover}
  title={translate("contacts")}
  borderRadius={false}
  cols={2}
  list={[{
    title: {
      text: [
        data.contactName,
        data.contactPhone,
        data.contactMail
      ].filter((val) => val)
      .join('\n\n'),
      style: 'white-space: pre-line'
  },
    src: data.contactImage,
    alt: 'logo',
    style: 'max-width: 50vmin; max-height: 50vmin;'
  }]}
/>

<style>
  :global(body a){
    word-break: break-all;
  }
</style>