<script>
  import { user } from "store/auth";
  import { onMount } from "svelte";
  import { apiUrl } from "config";
  import { params, ready, metatags } from "@roxi/routify";
  import FloatingMenu from "components/FloatingMenu.svelte";
  import text from "./_translation.js";
  import api from "tools/api";
  import CopyHint from "./_components/CopyHint.svelte";
  import Watermark from "./_components/Watermark.svelte";
  let containerRef;
  let html = "";
  let error;
  let slide = {};

  const getHtml = async () => {
    try {
      const res = await fetch(`${apiUrl}/api/v1/slides/${$params.slug}/html/`, {
        credentials: "include",
      });
      if (res.status === 403 || res.status === 404) {
        throw new Error($text("ACCESS_DENIED"));
      }
      html = await res.text();
      containerRef.innerHTML = html
      await renderTemplate();
    } catch (err) {
      error = err.message;
    }
  };
  const getTemplate = async () => {
    try {
      slide = await api.get(`/api/v1/slides/${$params.slug}/`);
    } catch (err) {
      // nothing
    }
  };
  const renderTemplate = () => {
    return new Promise((resolve) => {
      const render = () => {
        if (!html) {
          return setTimeout(render, 10);
        }
        containerRef.querySelectorAll("script").forEach((item) => {
          try{eval(item.innerHTML);} catch(err){}
        });
        document.querySelectorAll('meta[content="https://teasy.one/images/sharehome.jpg"]').forEach(item=>{
          item.setAttribute('content', window.$__preview)
        })
        document.querySelectorAll('meta[content="Генератор презентаций"]').forEach(item=>{
          item.setAttribute('content', `Генератор презентаций - ${window.$__name}`)
        })
        
        
        setTimeout(() => {
          resolve();
        }, 10);
      };
      render();
    });
  };
  onMount(() => {
    getTemplate()
    if(document.querySelector('#template').innerHTML.length>10) {
      containerRef.innerHTML = document.querySelector('#template').innerHTML
      $ready()
    } else {
      Promise.all([getHtml()]).finally(() => {
        
        $ready()
      });
    }
  });
  
</script>

{#if $user.userData}
  <FloatingMenu bind:slide />
{/if}

{#if error}
  {#if !$user.isLoading && !navigator.userAgent.match('jsdom')}
  <div class="error">{error}<a href="/">{$text("HOME")}</a></div>
  {/if}
{:else}
  <div bind:this={containerRef} class="container" id="template">
    <!-- {@html html} -->
  </div>
  <CopyHint {slide} />
  <Watermark />
{/if}

<style>
  .container {
    width: 100vw;
    height: 100vh;
  }
  .error {
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    text-align: center;
    flex-direction: column;
  }
</style>
