<script>
  import Content from "components/Content.svelte";
  import Spacer from "components/Spacer.svelte";
  import FloatingMenu from "components/FloatingMenu.svelte";
  import Projects from "./_components/Projects.svelte";
  import Star from 'assets/Star.svelte'
  import text from "./_translation.js";
  import AuthCheck from "components/AuthCheck.svelte";
  import api from "tools/api";
  import { slidesText } from "store/lang";

  let templates = [];
  let activeGroup;
  api.get(`/api/v1/templates/`).then((data) => {
    if(data.some(item=>item.is_favorite)){
      activeGroup = 'is_favorite'
    }
    templates = data
  });
  $: groups = [...new Set(templates.map((item) => item.group))];
  $: filtredTemplates = activeGroup
    ? templates.filter((item) => {
        if (activeGroup === "is_favorite") {
          return item.is_favorite;
        } else {
          return item.group === activeGroup;
        }
      })
    : templates;

  const toggleFavorite = (project) => {
    api.post(`api/v1/templates/${project.slug}/favorite/`).catch(() => {});
    templates = templates.map((item) => ({
      ...item,
      is_favorite:
        item.slug === project.slug
          ? (item.is_favorite = !item.is_favorite)
          : item.is_favorite,
    }));
  };
</script>

<AuthCheck>
  <Content>
    <Spacer size={32} />
    <div class="header">
      <div class="title">{$text("SELECT_TEMPLATE_FOR_CREATION")}</div>
    </div>
    <Spacer size={16} />
    <div class="groups">
      <div
        class="group"
        on:click={() => (activeGroup = null)}
        class:activeGroup={!activeGroup}
      >
        {$text("ALL_TEMPLATES")}
      </div>
      <div
        class="group favoriteGroup"
        on:click={() => (activeGroup = "is_favorite")}
        class:activeGroup={activeGroup === 'is_favorite'}
      >
       <Star/> <div class="favoriteText">{$text("FAVORITES")}</div>
      </div>
      {#each groups as group}
        <div
          class="group"
          on:click={() => (activeGroup = group)}
          class:activeGroup={activeGroup === group}
        >
          {$slidesText(group)}
        </div>
      {/each}
    </div>

    <Projects projects={filtredTemplates} {toggleFavorite} />
    <Spacer size={128} />
  </Content>
  <FloatingMenu />
  <a href="/request" class="new">{$text("REQUEST_TEMPLATE")}</a>
</AuthCheck>

<style>
  .favoriteText{
    margin-left: 8px;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .title {
    color: #292929;
    font-weight: bold;
    font-size: 18px;
  }
  .groups {
    display: flex;
    flex-wrap: wrap;
  }
  .group {
    border: 1px solid #ffaf00;
    box-sizing: border-box;
    border-radius: 56px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #292929;
    padding: 11px 20px;
    margin: 0 8px 8px 0;
    cursor: pointer;
  }
  .group:hover {
    background-color: rgba(255, 175, 0, 0.5);
  }
  .favoriteGroup{
    padding: 11px 20px;
    align-items: center;
    display: flex;
  }
  .activeGroup,
  .activeGroup:hover {
    background-color: #ffaf00;
  }
  .new {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffaf00;
    box-shadow: 0px 20px 50px rgba(255, 175, 0, 0.21);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    padding: 16px 32px;
  }
  .new:hover {
    text-decoration: none;
  }
  @media (max-width: 600px) {
    .header {
      display: block;
    }
    .new {
      font-size: 16px;
      white-space: nowrap;
    }
  }
</style>
