<script>
import { SvelteToast } from "@zerodevx/svelte-toast";
import {Boundary} from "@crownframework/svelte-error-boundary"
</script>
<slot decorator={Boundary}/>
<SvelteToast options={{duration:3000}} />