<script>
  import Header from "./_components/Header.svelte";
  // import Poster from "./_components/Poster.svelte";
  import Spacer from "components/Spacer.svelte";
  // import Content from "components/Content.svelte";
  import { url } from "@roxi/routify";
  import text from "./_translation.js";
</script>

<Header />
<div class='bg'>
  <div class="image"></div>
  <div class="overlay"></div>
</div>
<div class="container">
     
      <div class="poster"></div>
      <div class="motto">
        <h1>{$text("TITLE")}</h1>

        <p>{$text("SUBTITLE")}</p>
        <Spacer size={16} />
        <a href={$url("/cabinet")}>{$text("CREATE_SLIDES")}</a>
      </div>
</div>


<style>
  .bg{
    position: absolute;
    top: 89px;
    bottom:0;
    left: 0;
    right: 0;
  }
  
  .image{
    background-image: url("/images/pencil.jpg");
    background-size: cover;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .container{
    display: flex;
    min-height: calc(100vh - 89px);
    align-items:center;
    position: relative;
    
  }
  .poster{
    width: 30%;
    min-height: calc(100vh - 89px);
  }
  
  .motto {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 640px;
    padding: 0 32px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  h1 {
    color: var(--yellow);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-top:0;
  }
  p {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
  }
  a {
    background-color: var(--yellow);
    border-radius: 0.5rem;
    box-shadow: 0 1rem 2rem 0 #ffaa0080;

    color: #2e3037;
    font-weight: 700;
    font-size: 20px;

    text-decoration: none;
    padding: 1rem 2rem;
    text-align: center;
  }
  @media screen and (max-width: 830px) {
    .poster{
      display: none;
    }
    .overlay{
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
  }
  p{
    color: white;
  }
    
  }
  @media screen and (max-width: 600px) {
    .bg{
      top: 57px;
    }
  }
  @media screen and (min-width: 601px) {
   
  }
</style>
