<script>
  import blocks from "./blocks";
  import multi from './blocks/multi.svelte'
  import Spacer from "components/Spacer.svelte";
  import {slidesText} from 'store/lang'
  import groupColors from './groupColors'
  import { setContext } from 'svelte';
  export let group = { fileds: [] };
  export let index = null;
  export let activeGroup;
  export let jsonData;

  const blockTypes = {...blocks, multi}
  let groupRef;
  let scrollY;
  let innerHeight;
  
  let rect = {};
  $: {
    if (groupRef && index !== null) {
      const { height } = groupRef.getBoundingClientRect();
      const {offsetTop} = groupRef
      if (offsetTop - scrollY - 160 <= 0 && offsetTop + height - 160 > scrollY) {
        activeGroup = index;
      }
    }
  }
  const border = groupColors[index%groupColors.length].border;
  const background = groupColors[index%groupColors.length].background;
  setContext('border', border);
  setContext('background', background);
  $: style = index !==null ? `border-color:${groupColors[index%groupColors.length].border}; background-color:${groupColors[index%groupColors.length].background}` : ''
</script>

{#if index !== null}<a id={index} href={`#${index}`} class="anchor">#</a>{/if}
<div class="group" bind:this={groupRef} style={style}>
  
  <div class="title">{$slidesText(group.name)}</div>
  <Spacer size={24} />
  <div class="divider" />
  <Spacer size={16} />
  {#each group.fields || [] as item}
    <svelte:component
      this={blockTypes[item.type.toLowerCase()]}
      data={item}
      bind:value={jsonData[item.id]}
    />
    <Spacer size={16} />
  {/each}
</div>
<svelte:window bind:scrollY bind:innerHeight />

<style>
  .group {
    border-top: 16px solid rgb(3 168 185);
    background: #ffffff;
    box-shadow: 0px 10px 10px rgba(14, 0, 43, 0.13);
    border-radius: 10px;
    padding: 32px;
  }
  .anchor {
    height: 0;
    position: relative;
    top: -80px;
    visibility: hidden;
  }
  .title {
    font-weight: bold;
    font-size: 42px;
    color: #0e002b;
  }
  .divider {
    height: 1px;
    background: #f2f2f2;
  }
  @media (max-width: 600px){
    .title{
      font-size: 24px;
    }
    .group{
      padding: 16px;
    }
  }
</style>
