<script>
  import Spacer from "components/Spacer.svelte";
  import text from "./_translation.js";
  import Switch from "./base/Switch.svelte";
  import Info from "components/Info.svelte";
  export let slide;
</script>

<div class="container">
  <input
    class="name"
    type="text"
    bind:value={slide.name}
    placeholder={$text("PROJECT_NAME")}
  />
  <Spacer vertical size={16} />
  <div class="published">
    <Switch bind:value={slide.is_published} />
    <Spacer />

    <div class="publishedText">
      {$text(slide.is_published ? "PUBLIC" : "PRIVATE")}
      <Spacer vertical />
      <Info
        size={16}
        content={$text(slide.is_published ? "PUBLIC_HINT" : "PRIVATE_HINT")}
      />
    </div>
  </div>
</div>

<style>
  .name {
    font-size: 32px;
    width: 100%;
    color: #212121;

    font-weight: 500;
    background-color: rgb(255 255 255 / 1);
    border-radius: 10px;
    padding: 16px 24px;

    display: block;
    width: 100%;
    border: 1px solid #dfdfdf;
    margin: 0;
  }
  input:focus {
    outline: none;
  }
  input:hover,
  input:focus {
    border-color: #b2b8bf;
  }
  .container {
    display: flex;
    align-items: center;
  }
  .publishedText {
    color: #212121;
    display: flex;
  }
  .published {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 90px;
  }
  @media (max-width: 600px) {
    .container {
      flex-direction: column;
      align-items: flex-end;
    }
    .published {
      margin-top: 16px;
    }
    .published {
      flex-direction: row-reverse;
    }
    .publishedText {
      margin-right: 8px;
    }
  }
</style>
