<script>
  
  import Logo from "components/Logo.svelte";
  import Lang from "components/Lang.svelte";
  import {slidesText} from 'store/lang'
  import groupColors from './groupColors'
  export let menu = [];
  export let activeGroup;
  

  let menuRef ={};
  const scrollToAnchor = (i) => {
    document.getElementById(i).scrollIntoView();
  };
  $: if(activeGroup !== null){
    
    if(document.querySelector(`[href="#${activeGroup}"]`)){
      setTimeout(()=>{
        menuRef.scrollLeft = document.querySelector(`[href="#${activeGroup}"]`).offsetLeft;
      }, 500)
    }
  }
</script>

<div class="topbar">
  <div class="logoContainer">
    <a href="/cabinet" class="logo">
      <Logo />
    </a>
    
  </div>
  <div class="menu" bind:this={menuRef} >
    
    {#each menu as item, i}
      <a
        on:click|preventDefault={() => scrollToAnchor(i)}
        href={`#${i}`}
        target="_self"
        class="menuItem"
        class:active={i === activeGroup}
        style={`--border:${groupColors[i%groupColors.length].border}`}>{$slidesText(item)}</a
      >
    {/each}
  
  </div>
  <div class="lang"><Lang /></div>
  
</div>


<style>
  .lang{
    display: flex;
    align-items: center;
    margin-right: 95px;
  }
  .logo {
    padding: 24px 24px 24px 32px;
  }
  .topbar {
    position: sticky;
    top: 0px;
    background: white;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  .menu {
    display: flex;
    flex-grow: 1;
    /* justify-content: center; */
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: absolute;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    height: 100%;
    /* max-width: calc(100% - 528px); */
    left: 178px;
    right: 146px;
  }


  .menu::-webkit-scrollbar {
    display: none;
  }

  .menuItem {
    font-size: 14px;
    color: black;
    display: flex;
    align-items: center;
    border-bottom: 3px solid transparent;
    padding: 0 16px;
    text-align: center;
  }
  .menuItem:hover {
    text-decoration: none;
  }
  .active {
    border-bottom: 3px solid var(--border);
  }
  /* .menuButton {
    align-self: center;
    margin-right: 32px;
    min-width: 140px;
  } */
  .logoContainer {
    display: flex;
    align-items: center;
  }
  @media (max-width: 600px) {
    .logo {
      padding: 8px 24px 8px 8px;
    }
    .menu {
      position: initial;
      max-width: 100%;
      transform: none;
      justify-content: flex-start;
    }
    .topbar{
      flex-direction: column;
    }
    .menuItem{
      padding-bottom: 4px;
    }
    .lang{
      position: absolute;
      right: -8px;
      top: 27px;
    }
    .logoContainer{
      padding: 8px;
    }
  }
</style>
