<script>
  import Popup from "components/Popup.svelte";
  import text from "./_translation.js";
  import api from 'tools/api'
  export let folder;
  export let onDelete = () => {};
  const deleteFolder = () => {
    api.delete(`/api/v1/folders/${folder.slug}/`).then(() => {
      onDelete();
      folder = null;
    });
  };
</script>

<Popup bind:isOpen={folder}>
  <div class="header" slot="header">
    {$text("CONFIRM_DELETE")} «{folder.name}»?
  </div>
  <div slot="footer" class="footer">
    <button on:click={() => (folder = null)} class="close">
      {$text("CANCEL")}
    </button>
    <button on:click={deleteFolder} class="delete">
      {$text("DELETE")}
    </button>
  </div></Popup
>

<style>
  .header {
    color: #444444;
    font-size: 24px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .close {
    color: #03a8b9;
    background: none;
    border: none;
  }
  .delete {
    border: none;
    background: #f44336;
    box-shadow: 0px 20px 50px rgba(244 67 54, 0.21);
    border-radius: 8px;
    color: white;
    padding: 8px 16px;
  }
</style>
