
<svg viewBox="0 0 390 299" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M354.72 39.6401H197.08L165.64 2.24006C164.716 1.14406 163.354 0.514062 161.92 0.520062H34.72C15.554 0.542062 0.022 16.0741 0 35.2401V264.2C0.022 283.366 15.554 298.898 34.72 298.92H354.72C373.886 298.898 389.418 283.366 389.44 264.2V74.3601C389.418 55.1941 373.886 39.6621 354.72 39.6401ZM379.76 264.2C379.738 278.02 368.54 289.218 354.72 289.24H34.72C20.9 289.218 9.702 278.02 9.68 264.2V35.2401C9.702 21.4201 20.9 10.2221 34.72 10.2001H159.56L191 47.6001C191.924 48.6961 193.286 49.3261 194.72 49.3201H354.72C368.54 49.3421 379.738 60.5401 379.76 74.3601V264.2Z" fill="#FFAF00"/>
    <path d="M255.25 161.75H201.25V107.75C201.25 104.024 198.226 101 194.5 101C190.774 101 187.75 104.024 187.75 107.75V161.75H133.75C130.024 161.75 127 164.774 127 168.5C127 172.226 130.024 175.25 133.75 175.25H187.75V229.25C187.75 232.976 190.774 236 194.5 236C198.226 236 201.25 232.976 201.25 229.25V175.25H255.25C258.976 175.25 262 172.226 262 168.5C262 164.774 258.976 161.75 255.25 161.75Z" fill="#FFAF00"/>
    </svg>
    