<script>
  import FolderIcon from "./FolderIcon.svelte";
  import FolderIconEmpty from "./FolderIconEmpty.svelte";
  import Dropdown from "components/Dropdown.svelte";
  import text from "./_translation.js";
  import NewFolder from "./NewFolder.svelte";
  import DeleteFolder from "./DeleteFolder.svelte";
  import RenameFolder from "./RenameFolder.svelte";
  import Edit from "assets/Edit.svelte";
  import Trash from "assets/Trash.svelte";
  import api from 'tools/api'
  export let getSlides = () => {};
  let folders = [];

  const getFolders = () => {
    api.get(`/api/v1/folders/`).then((data) => (folders = data));
  };
  getFolders();
  let isNewOpen = false;
  let deleteFolder = null;
  let renameFolder = null;
</script>

<div class="folders">
  {#each folders as folder}
    <div class="folderWrapper">
      <div class="folder droppable" data-slug={folder.slug}>
        <a href={`/cabinet/${folder.slug}`} class="folderIcon"><FolderIcon /></a
        >
        <div class="folderNameContainer">
          <Dropdown closeOnClick>
            <svg viewBox="0 0 384 384" class="folderMenuButton">
              <circle cx="192" cy="42.667" r="42.667" />
              <circle cx="192" cy="192" r="42.667" />
              <circle cx="192" cy="341.333" r="42.667" />
            </svg>
            <div slot="dropdown" class="folderMenu">
              <div class="menuItem" on:click={() => (renameFolder = folder)}>
                <Edit />{$text("RENAME")}
              </div>
              <div class="menuItem" on:click={() => (deleteFolder = folder)}>
                <Trash />{$text("DELETE")}
              </div>
            </div>
          </Dropdown>
          <div class="foldername">{folder.name}</div>
        </div>
      </div>
    </div>
  {/each}
  <div class="folderWrapper">
    <div class="folder">
      <div class="folderIcon" on:click={() => (isNewOpen = true)}>
        <FolderIconEmpty />
      </div>
      <div class="foldername">{$text("NEW_FOLDER")}</div>
    </div>
  </div>
</div>
<NewFolder bind:isOpen={isNewOpen} onCreate={getFolders} />
<RenameFolder bind:folder={renameFolder} onUpdate={getFolders} />
<DeleteFolder
  bind:folder={deleteFolder}
  onDelete={() => {
    getFolders();
    getSlides();
  }}
/>

<style>
  .menuItem {
    display: flex;
    margin: 8px;
    cursor: pointer;
    align-items: center;
  }
  .menuItem :global(svg) {
    fill: black;
    margin-right: 8px;
    display: inline-block;
  }
  .menuItem:hover {
    color: #03a8b9;
  }
  .menuItem:hover :global(svg) {
    fill: #03a8b9;
  }
  .folderMenuButton {
    min-width: 16px;
    min-height: 16px;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    margin-left: -4px;
    cursor: pointer;
  }

  .folderNameContainer {
    display: flex;
    align-items: flex-start;
    margin-top: 4px;
    position: relative;
  }

  .folderWrapper :global(.dragOver path) {
    fill: #03a8b9;
  }

  .folders {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -24px -24px 0;
    width: 100%;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
  }
  .folderWrapper {
    padding: 0 24px 24px 0;
    box-sizing: border-box;
    color: #4d4d4d;
    text-decoration: none;
  }
  .folderIcon:hover :global(svg) {
    box-shadow: 0px 20px 50px rgb(255 175 0 / 21%);
  }
  .folder {
    border-radius: 8px;
    width: 150px;
    position: relative;
  }
  .foldername {
    word-break: break-word;
    font-size: 14px;
  }
  .folderIcon {
    cursor: pointer;
    width: 100px;
    display: block;
  }
  @media (max-width: 600px) {
    .folder {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
</style>
