
<svg viewBox="0 0 390 299" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M197.08 39.6401H354.72C373.886 39.6621 389.418 55.1941 389.44 74.3601V264.2C389.418 283.366 373.886 298.898 354.72 298.92H34.72C15.554 298.898 0.022 283.366 0 264.2V35.2401C0.022 16.0741 15.554 0.542061 34.72 0.520062H161.92C163.354 0.514061 164.716 1.14406 165.64 2.24006L197.08 39.6401Z" fill="#FFAF00"/>
    </svg>
    