<script>
  import Popup from "components/Popup.svelte";
  import Spacer from "components/Spacer.svelte";
  import api from 'tools/api'
  import text from "./_translation.js";

  export let isOpen;
  export let onCreate = () => {};
  let folderName = "";

  const createFolder = () => {
    api.post(`/api/v1/folders/save/`, {body: { name: folderName }})
      .then(() => {
        onCreate();
        isOpen = false;
        folderName = "";
      });
  };
</script>

<Popup bind:isOpen>
  <div class="header" slot="header">{$text("NEW_FOLDER_NAME")}</div>
  <input bind:value={folderName} placeholder={$text("TYPE_NAME")} />
  <Spacer />
  <div slot="footer" class="footer">
    <button on:click={() => (isOpen = false)} class="close">
      {$text("CANCEL")}
    </button>
    <button disabled={!folderName} on:click={createFolder} class="create">
      {$text("CREATE")}
    </button>
  </div></Popup
>

<style>
  .header {
    color: #444444;
    font-size: 24px;
  }
  input {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(255 255 255 / 1);
    border-radius: 10px;
    padding: 16px 24px;
    line-height: 1.2;
    display: block;
    width: 100%;
    border: 1px solid #dfdfdf;
    margin: 0;
  }
  input:focus {
    outline: none;
  }
  input:hover,
  input:focus {
    border-color: #b2b8bf;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .close {
    color: #03a8b9;
    background: none;
    border: none;
  }
  .create {
    border: none;
    background: #ffaf00;
    box-shadow: 0px 20px 50px rgba(255, 175, 0, 0.21);
    border-radius: 8px;
    color: white;
    padding: 8px 16px;
  }
  .create:disabled {
    background: silver;
    box-shadow: none;
  }
</style>
