<script>
  import Dropdown from "components/Dropdown.svelte";
  import text from "./_translation.js";

  export let sortBy = "NAME";
</script>

<Dropdown closeOnClick>
  <div class="sortBy">{$text("SORT_BY")}: {$text(sortBy)}</div>
  <div slot="dropdown">
    <div class="option" on:click={() => (sortBy = "NAME")}>{$text("NAME")}</div>
    <div class="option" on:click={() => (sortBy = "CREATED_DATE")}>
      {$text("CREATED_DATE")}
    </div>
    <div class="option" on:click={() => (sortBy = "UPDATED_DATE")}>
      {$text("UPDATED_DATE")}
    </div>
  </div>
</Dropdown>

<style>
  .sortBy {
    color: #03a8b9;
    cursor: pointer;
  }
  .option {
    margin: 8px;
    cursor: pointer;
  }
  .option:hover {
    color: #03a8b9;
  }
</style>
