<div class="flex-buttons">
    <slot />
</div>

<style>
    .flex-buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
</style>