<script>
    export let center = false;
</script>

<h2 class:center><slot /></h2>

<style>
    h2 {
        font-weight: 700;
        font-size: 36px;
    }
    .center{
        text-align: center;
    }
</style>