<script>
  export let placeholder;
  export let value;
  export let type;

  export let submit;

  const keylog = (e) => {
    if (e.key==='Enter') submit(e);
  } 
</script>

<div>
  {#if type === "password"}
    <svg
      width="17"
      height="10"
      viewBox="0 0 17 10"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        opacity="0.5"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M9.08389 3.29722C8.39579 1.3488 6.36769 0.0377802 4.10057 0.486858C2.44188 0.820045 1.09465 2.14555 0.746974 3.80424C0.153032 6.60736 2.28253 9.09177 4.99149 9.09177C6.88196 9.09177 8.48995 7.88216 9.08389 6.19449H12.2347V7.64313C12.2347 8.43988 12.8866 9.09177 13.6833 9.09177C14.4801 9.09177 15.132 8.43988 15.132 7.64313V6.19449C15.9287 6.19449 16.5806 5.54261 16.5806 4.74586C16.5806 3.9491 15.9287 3.29722 15.132 3.29722H9.08389ZM4.99137 6.19431C4.19462 6.19431 3.54274 5.54242 3.54274 4.74567C3.54274 3.94892 4.19462 3.29703 4.99137 3.29703C5.78813 3.29703 6.44001 3.94892 6.44001 4.74567C6.44001 5.54242 5.78813 6.19431 4.99137 6.19431Z"
        fill="#8A94A7"
      />
      <mask
        id="mask0"
        mask-type="alpha"
        maskUnits="userSpaceOnUse"
        x="0"
        y="0"
        width="17"
        height="10">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M9.08389 3.29722C8.39579 1.3488 6.36769 0.0377802 4.10057 0.486858C2.44188 0.820045 1.09465 2.14555 0.746974 3.80424C0.153032 6.60736 2.28253 9.09177 4.99149 9.09177C6.88196 9.09177 8.48995 7.88216 9.08389 6.19449H12.2347V7.64313C12.2347 8.43988 12.8866 9.09177 13.6833 9.09177C14.4801 9.09177 15.132 8.43988 15.132 7.64313V6.19449C15.9287 6.19449 16.5806 5.54261 16.5806 4.74586C16.5806 3.9491 15.9287 3.29722 15.132 3.29722H9.08389ZM4.99137 6.19431C4.19462 6.19431 3.54274 5.54242 3.54274 4.74567C3.54274 3.94892 4.19462 3.29703 4.99137 3.29703C5.78813 3.29703 6.44001 3.94892 6.44001 4.74567C6.44001 5.54242 5.78813 6.19431 4.99137 6.19431Z"
          fill="white"
        />
      </mask>
      <g mask="url(#mask0)" />
    </svg>
    <input bind:value {placeholder} type="password" on:keydown={keylog}/>
  {:else if type === "email"}
    <svg
      width="17"
      height="14"
      viewBox="0 0 17 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        opacity="0.5"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M2.10284 0.026123H15.1428C16.0431 0.026123 16.7728 0.755874 16.7728 1.65612V11.4361C16.7728 12.3363 16.0431 13.0661 15.1428 13.0661H2.10284C1.20261 13.0661 0.472839 12.3363 0.472839 11.4361V1.65612C0.472839 0.755874 1.20261 0.026123 2.10284 0.026123ZM8.62264 5.73137L15.1426 1.65634H2.10264L8.62264 5.73137ZM2.10264 11.4362H15.1426V3.58772L8.62264 7.65345L2.10264 3.58772V11.4362Z"
        fill="#8A94A7"
      />
    </svg>
    <input bind:value {placeholder} type="email" on:keydown={keylog}/>
  {:else if type === "personal"}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      width="20px"
      height="20px"
      viewBox="0 0 20 20"
      enable-background="new 0 0 20 20"
      xml:space="preserve">
      <path
        fill="none"
        stroke="#D2D8D8"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-miterlimit="10"
        d="M10,1L10,1c2.3,0,4,1.9,4,4.1v1.7C14,9.1,12.2,11,10,11H10C7.8,11,6,9.1,6,6.9V5.1C6,2.9,7.8,1,10,1z"
      />
      <path
        fill="none"
        stroke="#D2D8D8"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-miterlimit="10"
        d="M13.7,9c1.9,0,3.6,1.4,4,3.3l0.4,1.9c0.5,2.5-1.4,4.8-4,4.8H6c-2.6,0-4.5-2.3-4-4.8l0.4-1.9c0.4-1.9,2-3.3,4-3.3"
      />
    </svg>
    <input bind:value {placeholder} type="text" on:keydown={keylog}/>
    {:else}
    <input bind:value {placeholder} type="text"/>
  {/if}
</div>

<style>
  div {
    width: 100%;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  input {
    width: 100%;
    margin: 0;
    background: none;
    border: none;

    outline-style: none;
  }
  svg {
    margin: 1rem;
  }
</style>
