<script>
  import text from "../../_translation.js";
</script>

<div class="content">
  <h2>{$text("TITLE")}</h2>
  <p>{$text("SUBTITLE")}</p>
  <ul>
    <li>{$text("PATTERNS")}</li>
    <li>{$text("TEAMWORK")}</li>
    <li>{$text("DOWNLOAD")}</li>
    <li>{$text("EXPORT")}</li>
  </ul>
</div>

<style>
  .content {
    color: white;
  }
  h2 {
    font-weight: 400;
    font-size: 36px;
  }
  p {
    font-weight: 400;
    font-size: 24px;
  }
  ul {
    font-weight: 400;
    font-size: 18px;
    padding-inline-start: 20px;
  }
  li {
    margin: 1rem 0;
  }
</style>
