<script>
  import { apiUrl } from "config";
  import Vk from "./images/Vk.svelte";
  import Google from "./images/Google.svelte";
  import Ok from "./images/Ok.svelte";
  import Fb from "./images/Fb.svelte";
</script>

<p><slot /></p>

<div class="links">
  <a href={`${apiUrl}/api/auth/login/vk-oauth2/`} target="_self">
    <Vk />
  </a>
  <a href={`${apiUrl}/api/auth/login/google-oauth2/`} target="_self"><Google /></a>
  <a href={`${apiUrl}/api/auth/login/odnoklassniki-oauth2/`} target="_self"><Ok /></a>
  <a href={`${apiUrl}/api/auth/login/facebook/`} target="_self"><Fb /></a>

</div>

<style>
  p {
    text-align: center;
  }
  .links a {
    flex: 1 1 140px;
    margin: 0.2rem;
    max-width: 50%;
  }
  .links {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
</style>
