@font-face {
	font-family: "TTNorms";
	src: url("/fonts/TTNorms-Regular.woff") format("woff"),
		url("/fonts/TTNorms-Regular.ttf") format("ttf"),
		url("/fonts/TTNorms-Regular.eot") format("eot");
   }
   @font-face {
	font-family: "TTNorms";
	src: url("/fonts/TTNorms-Bold.woff") format("woff"),
		url("/fonts/TTNorms-Bold.ttf") format("ttf"),
		url("/fonts/TTNorms-Bold.eot") format("eot");
		font-weight: bold;
   }

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
	font-variant-ligatures: none;
}
* {
	font-variant-ligatures: none;
}

body {
	background: #FAFAFA;
	color: #333;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: TTNorms, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
	cursor: pointer;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

:root {
	--toastBackground: #F56565;
	--toastProgressBackground: #C53030;
	--yellow: #FFAF00;
	--toastWidth: fit-content;
}
