<script>
  import defaultData from "./data";
  const data = window.data || defaultData;
  import ProjectCover from "common/ProjectCover.svelte";
  import ListPage from "common/ListPage.svelte";
  import BlockCover from "common/BlockCover.svelte";
</script>

<ProjectCover cover={data.cover} projectTitle={data.projectName} />

<ListPage
  cover={data.cover}
  title={"Участники"}
  list={[
    { title: "Звонок запрашивает", value: data.requester },
    ...data.participants.map((item, i) =>
      i === 0 ? { title: "Участники", value: item.name } : { value: item.name }
    ),
  ]}
/>
<ListPage
  cover={data.cover}
  title={"Тайминг"}
  list={[
    { title: "Сколько потребуется времени для обсуждения?", value: data.time },
    { title: "Пожелания к дате и времени звонка", value: data.timeproposal },
  ]}
/>

<ListPage
  cover={data.cover}
  title={"Повестка"}
  list={data.agenda.map((item) => {
    return item.question && item.solution
      ? { title: item.question, value: item.solution }
      : { value: item.question || item.solution };
  })}
/>
<ListPage
  cover={data.cover}
  title={"Материалы"}
  list={data.materials.map((item) => {
    return {
      link: item?.document.file,
      value: item?.document.name,
    };
  })}
/>
<ListPage
  cover={data.cover}
  title={"Принятые решения"}
  list={data.result.map((item) => ({ value: item.solution }))}
/>

<ListPage
  cover={data.cover}
  title={"Нерешенные вопросы и комментарии"}
  list={data.comments.map((item) => ({ value: item.comment }))}
/>

<ListPage
  cover={data.cover}
  title={"Идеи и новые вопросы"}
  list={data.ideas.map((item) => ({ value: item.idea }))}
/>

{#if data.tasks.some((item) => item.task)}
  <BlockCover cover={data.cover} title={"Задачи"} />
{/if}
{#each data.tasks as task}
  {#if task.task}
    <ListPage
      list={[
        { title: "Задача", value: task.task },
        { title: "Ответственный", value: task.responsilbe },
        { title: "Срок исполнения", value: task.duedate },
      ]}
    />
  {/if}
{/each}
