<script>
  import { goto } from "@roxi/routify";
  import { user } from "store/auth.js";
  import Loader from "components/Loader.svelte";
</script>


{#if $user.isLoading === true}
  <div>
    <Loader />
  </div>
{:else if $user.userData}
  <slot />

{:else}{$goto('/auth/login')||''}{/if}

<style>
  div {
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
</style>
