<script>
  import Popup from "./Popup.svelte";
  import { apiUrl } from "config";
  import text from "./_translation.js";

  export let isOpen;
  export let slug;
  export let slide;

  const makePublic = () => {
    slide.is_published = true;
    fetch(`${apiUrl}/api/v1/slides/${slug}/update/`, {
      credentials: "include",
      method: "PATCH",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        is_published: true,
      }),
    });

    isOpen = false;
  };

  
</script>

<Popup bind:isOpen>
  <div class="header" slot="header">{$text("PROJECT_IS_PRIVATE")}</div>
  <div slot="footer" class="footer">
    <button on:click={() => (isOpen = false)} class="close">
      {$text("CONTINUE_PRIVATE")}
    </button>
    <button on:click={makePublic} class="delete">
      {$text("MAKE_PUBLIC")}
    </button>
  </div></Popup
>

<style>
  .header {
    color: #444444;
    font-size: 24px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .close {
    color: #03a8b9;
    background: none;
    border: none;
  }
  .delete {
    border: none;
    background: #f44336;
    box-shadow: 0px 20px 50px rgba(244 67 54, 0.21);
    border-radius: 8px;
    color: white;
    padding: 8px 16px;
  }
</style>
