<script>
    import Popup from "./Popup.svelte";
    import Spacer from "./Spacer.svelte";
    import { apiUrl } from "config";
    import { goto } from "@roxi/routify";
    import text from "./_translation.js";
  
    export let isOpen;
    export let slug;
  
    const deleteProject = () => {
      fetch(`${apiUrl}/api/v1/slides/${slug}/`, {
        credentials: "include",
        method: "DELETE",
        headers: { "Content-Type": "application/json" },
      })  
        .then(() => {
          $goto(`/cabinet`);
        });
    };
  
    
  </script>
  
  <Popup bind:isOpen={isOpen}>
    <div class="header" slot="header">{$text('CONFIRM_DELETE')}</div>
    <div slot="footer" class="footer">
    <button on:click={() => (isOpen = false)} class="close">
      {$text('CANCEL')}
    </button>
    <button on:click={deleteProject} class="delete">
      {$text('DELETE')}
    </button>
  </Popup>
  
  <style>
    .header {
      color: #444444;
      font-size: 24px;
    }
    
    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
    }
    .close {
      color: #03a8b9;
      background: none;
      border: none;
    }
    .delete {
      border: none;
      background: #f44336;
      box-shadow: 0px 20px 50px rgba(244 67 54, 0.21);
      border-radius: 8px;
      color: white;
      padding: 8px 16px;
    }
    
  </style>
  