<script>
    import Overlay from "svelte-overlay";
    let isOpen  = false; 
  </script>
  
  <Overlay closeOnClickOutside zIndex={9} bind:isOpen={isOpen}>
    <div slot="parent" let:toggle on:click={toggle} class="button">
        <slot />
    </div>
    <div slot="content" class="content" on:click={()=>isOpen=false}>
        <slot name="dropdown" />
    </div>
  </Overlay>
  
<style>
    .content{
        border-radius: 8px;
      box-shadow: 3px 3px 18px 0 rgba(54, 71, 79, 0.2);
      background-color: #ffffff;
      overflow: auto;
      box-sizing: border-box;
    }
</style>
  