<script>
    import {onMount} from "svelte";
    import Overlay from 'svelte-overlay';

    export let size = 16;
    export let content;

    let coords;
    let documentWidth;
    let iconRef;
    let minWidth = 160;
    let maxWidth = 240;
    let position = "right-center";
    let isOpen;

    onMount(() => {
        coords = iconRef?.getBoundingClientRect();
        documentWidth = document.documentElement.clientWidth;

        if (documentWidth - coords.right > minWidth) {
            maxWidth = Math.min(documentWidth - coords.right - 24, maxWidth);
            position ="right-center";
            return;
        }
        if ((documentWidth - coords.left > minWidth/2) && (documentWidth - coords.right > minWidth/2)) {
            position = "bottom-center";
            return;
        }

        if (coords.left > coords.right) {
            maxWidth = coords.left - 24;
            position = "bottom-right";
            return;
        }
        maxWidth = coords.right - 24;
        position = "bottom-left";
    })

</script>

<Overlay position={position} closeOnScroll zIndex={isOpen?1:0} bind:isOpen>
    <svg
        slot="parent"
        let:open
        let:close
        on:mouseenter={open}
        on:mouseleave={close}
        bind:this={iconRef}
        width="{size}"
        height="{size}"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 455.431 455.431"
    >
        <path
            style="fill: #5ca4da"
            d="M405.493,412.764c-69.689,56.889-287.289,56.889-355.556,0c-69.689-56.889-62.578-300.089,0-364.089
            s292.978-64,355.556,0S475.182,355.876,405.493,412.764z"
        />
        <path
            style="fill: #6dafe0"
            d="M229.138,313.209c-62.578,49.778-132.267,75.378-197.689,76.8
            c-48.356-82.489-38.4-283.022,18.489-341.333c51.2-52.622,211.911-62.578,304.356-29.867
            C377.049,112.676,330.116,232.142,229.138,313.209z"
        />
        <path
            style="fill: #ffffff"
            d="M259.004,286.187h-61.156V256.32c0-11.378,1.422-19.911,4.267-24.178
            c2.844-5.689,8.533-12.8,18.489-22.756l27.022-28.444c4.267-4.267,5.689-11.378,5.689-18.489c0-7.111-1.422-14.222-7.111-18.489
            c-4.267-5.689-9.956-7.111-17.067-7.111c-7.111,0-12.8,2.844-17.067,8.533c-4.267,5.689-7.111,14.222-8.533,24.178h-64
            c2.844-27.022,12.8-48.356,29.867-62.578s36.978-22.756,62.578-22.756s45.511,7.111,61.156,19.911
            c15.644,14.222,24.178,32.711,24.178,56.889c0,11.378-1.422,18.489-4.267,24.178c-2.844,5.689-4.267,8.533-5.689,11.378
            c-1.422,2.844-4.267,5.689-7.111,9.956c-4.267,4.267-7.111,7.111-8.533,8.533c-7.111,7.111-12.8,12.8-18.489,18.489
            c-5.689,5.689-9.956,9.956-11.378,14.222c-1.422,4.267-2.844,8.533-2.844,15.644V286.187z M193.582,337.387
            c0-19.911,15.644-35.556,35.556-35.556s35.556,15.644,35.556,35.556s-15.644,35.556-35.556,35.556S193.582,357.298,193.582,337.387z
            "
        />
    </svg>
    <div slot="content" class="tooltip-content" style="max-width: {maxWidth}px; z-index: 2">
        {content}
    </div>
</Overlay>

<style>
    svg {
        position: relative;
        bottom: -2px;
    }
    .tooltip-content {
		padding: 10px;
        margin: 8px;
        width: max-content;
        box-sizing: border-box;
        z-index: 2;

		background-color: #000;
        background-color: hsla(0, 0%, 20%, 1);
        color: #fff;
        border-radius: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;
        white-space: pre-wrap;
	}
</style>
