<script>
  import Overlay from "svelte-overlay";
  import More from "assets/More.svelte";

  import { lang } from "store/lang";
  const availableLanguages = ["ru", "en"];
  let isOpen;
  $: filtredLanguages = availableLanguages.filter((item) => item !== $lang);

  const selectLang = (value) => {
    $lang = value;
    isOpen = false;
  };
</script>

<Overlay closeOnClickOutside zIndex={9} bind:isOpen>
  <div slot="parent" let:toggle on:click={toggle} class="button">
    <img
      src={`/images/lang/${$lang}.svg`}
      alt="language"
      class="selectedLang"
    /><More />
  </div>
  <div slot="content">
    {#each filtredLanguages as item}
      <img
        src={`/images/lang/${item}.svg`}
        alt="language"
        class="option"
        on:click={() => selectLang(item)}
      />
    {/each}
  </div>
</Overlay>

<style>
  img {
    cursor: pointer;
  }
  .button {
    display: flex;
    align-items: center;
  }
  .selectedLang {
    margin-right: 4px;
  }
  .option {
    display: block;
    margin: 4px 0;
  }
</style>
