<script>
  import Popup from "./Popup.svelte";
  import Spacer from "./Spacer.svelte";
  import { apiUrl } from "config";

  import { goto } from "@roxi/routify";

  import text from "./_translation.js";

  export let selectedTemplate;
  let projectName = "";

  const createProject = () => {
    const urlParams = new URLSearchParams(window.location.search);
    const folder = urlParams.get("folder");
    fetch(`${apiUrl}/api/v1/slides/save/`, {
      credentials: "include",
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        name: projectName,
        template: selectedTemplate,
        ...(folder ? { folder } : {}),
      }),
    })
      .then((res) => res.json())
      .then((data) => {
        selectedTemplate = null;
        projectName = "";
        $goto(`/slide/${data.slug}/edit`);
      });
  };
</script>

<Popup bind:isOpen={selectedTemplate}>
  <div class="header" slot="header">{$text("NEW_PROJECT_NAME")}</div>
  <input bind:value={projectName} placeholder={$text("TYPE_NAME")} />
  <Spacer />
  <div slot="footer" class="footer">
    <button on:click={() => (selectedTemplate = false)} class="close">
      {$text("CANCEL")}
    </button>
    <button disabled={!projectName} on:click={createProject} class="create">
      {$text("CREATE")}
    </button>
  </div></Popup
>

<style>
  .header {
    color: #444444;
    font-size: 24px;
  }
  input {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(255 255 255 / 1);
    border-radius: 10px;
    padding: 16px 24px;
    line-height: 1.2;
    display: block;
    width: 100%;
    border: 1px solid #dfdfdf;
    margin: 0;
  }
  input:focus {
    outline: none;
  }
  input:hover,
  input:focus {
    border-color: #b2b8bf;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .close {
    color: #03a8b9;
    background: none;
    border: none;
  }
  .create {
    border: none;
    background: #ffaf00;
    box-shadow: 0px 20px 50px rgba(255, 175, 0, 0.21);
    border-radius: 8px;
    color: white;
    padding: 8px 16px;
  }
  .create:disabled {
    background: silver;
    box-shadow: none;
  }
</style>
