<script>
  import Spacer from "components/Spacer.svelte";
  
  import { slidesText } from "store/lang";
  import text from "./_translation.js";
  import { pannable } from "./utils";

  export let projects = [];
  export let title;
  export let showAllLink;
  
  export let useDrag;
  export let onDrop = () => {};
  export let isDragging 

  let dragItem;
  let x;
  let y;
  let scrollInterval;
  let previewRef;
  const handlePanStart = (e) => {
    isDragging=true;
    dragItem = e.detail.project;
    x = e.detail.x;
    y = e.detail.y;
  };

  let currentDroppable = null;
  const handlePanMove = (e) => {
    if (y < 50 && !scrollInterval) {
      scrollInterval = setInterval(() => {
        window.scrollBy(0, -100);
      }, 10);
    } else {
      clearInterval(scrollInterval);
      scrollInterval = null;
    }
    x = e.detail.x;
    y = e.detail.y;
    previewRef.hidden = true;
    let elemBelow = document.elementFromPoint(x, y);
    previewRef.hidden = false;
    if (!elemBelow) return;
    let droppableBelow = elemBelow.closest(".droppable");
    if (currentDroppable != droppableBelow) {
      if (currentDroppable) {
        currentDroppable.classList.remove("dragOver");
      }
      currentDroppable = droppableBelow;
      if (currentDroppable) {
        currentDroppable.classList.add("dragOver");
      }
    }
  };
  const handlePanEnd = (e) => {
    if (currentDroppable) {
      onDrop({ folder: currentDroppable.dataset.slug, slide: dragItem.slug });
      currentDroppable.classList.remove("dragOver");
    }

    currentDroppable = null;
    dragItem = null;
    clearInterval(scrollInterval);
    scrollInterval = null;
    x = 0;
    x = 0;
    isDragging=false;
  };
</script>

{#if dragItem}
  <div
    class="dragItem"
    draggable="false"
    style={`transform:translate(${x}px, ${y}px);`}
    bind:this={previewRef}
  >
    <img
    draggable="false"
      src={dragItem.preview}
      alt="dragPreview"
      class="dragItemImage"
      on:contextmenu|preventDefault
    />
  </div>
{/if}
{#if title}
  <Spacer size={32} />
  <div class="header">
    <div class="title">{title}</div>
    {#if showAllLink}
      <a href={showAllLink} class="more">{$text("SHOW_ALL")}</a>
    {/if}
  </div>
{/if}
<div class="wrapper">
  <div class="projects">
    {#each projects as project, i (project.slug)}
      <a
      draggable="false"
        use:pannable={project}
        on:panstart={useDrag ? handlePanStart : () => {}}
        on:panmove={useDrag ? handlePanMove : () => {}}
        on:panend={useDrag ? handlePanEnd : () => {}}
        href={`/slide/${project.slug}/edit`}
        class="project"
      >
        <div
          class="cover"
          style={`background-image: url(${project.preview?.startsWith('http')? project.preview : `https://teasy.one${project.preview}`})`}
        />
        {#if project.name}
          <Spacer size={16} />
          <div class="projectTitle">{$slidesText(project.name)}</div>
        {/if}
      </a>
    {/each}
  </div>
</div>

<style>
  .dragItem {
    position: fixed;
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    z-index: 99;
    user-select: none;
    -webkit-user-select: none;
  }
  .dragItemImage {
    width: 100px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    user-select: none;
    -webkit-user-select: none;
  }
  .wrapper {
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    margin-top: 32px;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .title {
    color: #444444;
    font-size: 24px;
  }
  .more {
    color: #307fe2;
    font-size: 14px;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px -16px 0;
    -webkit-touch-callout: none !important; 
    user-select: none;
    -webkit-user-select: none;
  }
  .project {
    width: 25%;
    cursor: pointer;
    padding: 0 16px 16px 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
  }
  .project:hover {
    text-decoration: none;
  }
  .project:hover .cover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .cover {
    padding-top: 50%;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.2s;
  }
  .projectTitle {
    color: #4d4d4d;
    text-align: center;
    font-size: 14px;
  }
  @media (max-width: 600px) {
    .project {
      width: 100%;
    }
    .header {
      display: block;
    }
  }
</style>
