<script>
  import defaultData from "./data";
  const data = window.data || defaultData
  import ProjectCover from 'common/ProjectCover.svelte'
  import ListPage from 'common/ListPage.svelte'
  import Photos from 'common/Photos.svelte'
  import LongText from "common/LongText.svelte";
  import BlockCover from "common/BlockCover.svelte";

  import dict from "./dict";
  const lang = data.templateLang || 'ru';
  const translate = (key) => dict[key] && dict[key][lang] ? dict[key][lang] : key;
</script>

<ProjectCover cover={data.cover} projectTitle={data.projectName} projectSubtitle={data.projectType?.value} />

<ListPage
  list={[
    { title: translate("genre"), value: data.genre },
    { title: translate("format"), value: data.format },
    { link: data.document?.file, value: data.document?.name },
  ]}
/>

<LongText
  cover={data.cover}
  title={translate("what")}
  text={data.description}
/>
<LongText
  cover={data.cover}
  title={translate("concept")}
  text={data.concept}
/>
<LongText
  cover={data.cover}
  title={translate("synopsis")}
  text={data.synopsis}
/>
<LongText
  cover={data.cover}
  title={translate("explication")}
  text={data.explication}
/>

<LongText
  cover={data.cover}
  title={translate("importance")}
  text={data.importance}
/>

<LongText
  cover={data.cover}
  title={translate("plan")}
  text={data.plan}
/>

<ListPage
  list={data.script?.file ? [
    {
      title: translate('script'),
      link: data.script.file,
      value: data.script.name
    }
  ] : []}
/>

<ListPage
  cover={data.cover}
  title={translate("forWho")}
  list={[
    { title: translate("geography"), value: data.geography
        .filter((item) => item.value)
        .map((item) => item.value)
        .join(', ')  },
    { title: translate("age"), value: data.age
        .filter((item) => item.value)
        .map((item) => item.value)
        .join(', ') },
    { title: translate("job"), value: data.job },
    { title: translate("sex"), value: data.sex?.value },
  ]}
/>

<ListPage
  cover={data.cover}
  title={translate("cost")}
  list={[
    { title: translate("price"), value: data.price ? data.price + ' ' + data.currency?.value : null},
    { title: translate("source"), value: data.finance },
  ]}
/>

<ListPage
  cover={data.cover}
  title={translate("when")}
  list={
    data.when
      .filter((item) => item.id)
      .map((item) => {
        return {title: item.stageName, value: item.stageDate}
      })
  }
/>

<Photos
  cover={data.cover}
  title={translate("partners")}
  cols={3}
  borderRadius={false}
  list={
    data.partners.map((partner) => {return {
      title: partner.name,
      subtitle: partner.partnershipForm?.value,
      src: partner.image,
      alt: 'partner',
      style: 'max-width: 10vmax; max-height: 10vmax;'
    }})
  }
/>

<ListPage
  cover={data.cover}
  title={translate("reference")}
  list={
    data.reference.map((reference) => {return {
        title: reference.referenceDescription,
        link: reference.link,
        value: reference.name
      }})
  }
/>

<Photos
  cover={data.cover}
  title={translate("team")}
  borderRadius={true}
  cols={3}
  list={
    data.team.filter((item) => item.image)
    .map((teammate) => {return {
      title: teammate.name,
      subtitle: teammate.position?.value,
      src: teammate.image,
      alt: 'teammate',
      style: 'max-width: 10vmax; max-height: 10vmax;'
    }})
  }
/>

{#if data.filmography.length > 0}
  <BlockCover
    cover={data.cover}
    title={translate('filmography')}
  />
  {#each data.filmography.filter((film) => film.title) as film}
    <Photos
      borderRadius={false}
      list={[{
        title: film.title,
        src: film.image,
        alt: 'poster',
        style: 'max-width: 70vmin; max-height: 70vmin;'
      }]}
    />
    <ListPage
      list={
        film.team.filter((item) => item.name)
          .map((item) => {return {
            title: item.position?.value,
            value: item.name
          }})
      }
    />
  {/each}
{/if}


<ListPage
  cover={data.cover}
  title={translate('legacy')}
  list={
    data.legacy.filter((legacy) => legacy.file?.file)
    .map((legacy) => {return {
        link: legacy.file.file,
        value: legacy.file.name
    }})
  }
/>

<LongText
  cover={data.cover}
  title={translate('letter')}
  text={data.letter}
/>

<Photos
  cover={data.cover}
  title={translate("contacts")}
  borderRadius={false}
  cols={2}
  list={[{
    title: {
      text: [
        data.contactName,
        data.contactPhone,
        data.contactMail
      ].filter((val) => val)
      .join('\n\n'),
      style: 'white-space: pre-line'
  },
    src: data.contactImage,
    alt: 'logo',
    style: 'max-width: 50vmin; max-height: 50vmin;'
  }]}
/>
