<script>
  import { goto } from "@roxi/routify";
  import { user } from "store/auth.js";
  import { toast } from "@zerodevx/svelte-toast";
  import { params } from "@roxi/routify";
  import { onMount } from "svelte";
  import Topbar from "forms/Topbar.svelte";
  import Group from "forms/Group.svelte";
  import Save from "assets/Save.svelte";
  import Spacer from "components/Spacer.svelte";
  import Content from "components/Content.svelte";
  import { apiUrl } from "config";
  import { lang } from "store/lang";
  import text from "./_translation.js";
  import ProjectData from "forms/ProjectData.svelte";
  import FloatingMenu from "components/FloatingMenu.svelte";

  let activeGroup = 0;
  let slide = {};
  let template = [];
  let templateSlug = '';
  let saveTimeoutId;
  let makePreviewTimeoutId;
  let isMakingPreview = false;
  let saveFailed = false;
  let isSaving = false;
  let isSaved = false;

  fetch(`${apiUrl}/api/v1/slides/${$params.slug}/`, { credentials: "include" })
    .then((res) => res.json())
    .then((data) => {
      
      slide = {
        ...data,
        json_data: {
          ...data.json_data,
          templateLang: $lang,
          ...(data.json_data.projectName ? {} : { projectName: data.name }),
        },
      };
      if (data.template) {
        return fetch(`${apiUrl}/api/v1/templates/${data.template}/`, {
          credentials: "include",
        });
      }
    })
    .then((res) => res.json())
    .then((data) => {
      template = data.template;
      templateSlug = data.slug;
      // if(slide.owner !== $user?.userData?.username){
      //   $goto(`/slide/${$params.slug}`);
      //   return;
      // }
    })
    .catch((err) => toast.push($text("PROJECT_FETCH_ERROR")));

  $: menu = template.reduce((memo, item) => [...memo, item.name], []);
  const save = () => {
    clearTimeout(saveTimeoutId);
    saveFailed = false;
    isSaving = true;
    isSaved = false;
    fetch(`${apiUrl}/api/v1/slides/${$params.slug}/update/`, {
      credentials: "include",
      method: "PATCH",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        ...(slide.name ? { name: slide.name } : {}),
        is_published: slide.is_published,
        json_data: slide.json_data,
      }),
    })
      .then((res) => res.json())
      .then((data) => {
        saveFailed = false;
        clearTimeout(makePreviewTimeoutId);
        makePreviewTimeoutId = setTimeout(() => (isMakingPreview = true), 2000);
        isSaved = true;
      })
      .catch(() => {
        saveFailed = true;
        toast.push($text("SAVE_FAILED"));
        setTimeout(() => save(), 5000);
      })
      .finally(() => (isSaving = false));
  };

  $: {
    clearTimeout(saveTimeoutId);
    saveTimeoutId = setTimeout(() => save(slide), 500);
  }
  const onMessage = (event) => {
    if (event.data === "previewDone") isMakingPreview = false;
  };
  onMount(() => {
    window.addEventListener("message", onMessage);
    return () => {
      window.removeEventListener("message", onMessage);
      clearTimeout(makePreviewTimeoutId);
    };
  });
</script>

{#if isSaving || isSaved}
  <div class="saving">
    {#if isSaving}{$text("SAVING")}{:else if isSaved}{$text("SAVED")}{/if}
  </div>
{/if}
{#if isMakingPreview}
  <div class="previewMaker">
    <iframe
      src={`/slide/${$params.slug}/makepreview`}
      width="1280"
      height="720"
      title="make preview"
    />
  </div>
{/if}
<Topbar {menu} bind:activeGroup />
<Content>
  <Spacer size={32} />

  <ProjectData bind:slide />
  <form name={templateSlug} on:submit|preventDefault>
  {#each template as group, index}
    <Group {group} {index} bind:activeGroup bind:jsonData={slide.json_data} />
    <Spacer size={16} />
  {/each}
  <button type="submit" class="submitButton">submit</button>
  </form>
</Content>

{#if saveFailed}
  <button class="fab" on:click={save}>
    <Save />
  </button>
{/if}

<FloatingMenu bind:slide/>

<style>
  .submitButton{
    opacity: 0;
  }
  .saving {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 4px;
    background: white;
    opacity: 0.8;
    font-size: 12px;
    border-top-right-radius: 4px;
    z-index: 99;
  }
  .previewMaker {
    visibility: hidden;
    position: absolute;
    top: -100%;
    left: -100%;
    overflow: hidden;
    width: 1px;
    height: 1px;
  }
  .fab {
    position: fixed;
    bottom: 16px;
    right: 24px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    box-shadow: 0 0 60px rgb(0 0 0 / 25%);
    background: #ffaf00;
  }
</style>
