<script>
  export let size = 17;
</script>
<svg
  width={size}
  height={size}
  viewBox="0 0 18 18"
  fill="none"
  xmlns="http://www.w3.org/2000/svg">
  <path
    d="M11.31 9.00045L15.6411 4.66936C16.1196 4.19082 16.1196 3.41498 15.6411 2.93719L15.0637 2.3598C14.585 1.88111 13.8092 1.88111 13.3314 2.3598L9.00045 6.69074L4.66936 2.35891C4.19082 1.88036 3.41498 1.88036 2.93719 2.35891L2.35891 2.93629C1.88036 3.41498 1.88036 4.19082 2.35891 4.66861L6.69074 9.00045L2.3598 13.3314C1.88111 13.8101 1.88111 14.5859 2.3598 15.0637L2.93719 15.6411C3.41573 16.1196 4.19157 16.1196 4.66936 15.6411L9.00045 11.31L13.3314 15.6411C13.8101 16.1196 14.5859 16.1196 15.0637 15.6411L15.6411 15.0637C16.1196 14.585 16.1196 13.8092 15.6411 13.3314L11.31 9.00045Z"
    
  />
</svg>
