<script>
  export let color = "#ffaf00";
</script>

<svg
  width="22"
  height="17"
  viewBox="0 0 22 17"
  fill="none"
  xmlns="http://www.w3.org/2000/svg">
  <rect y="0.0668945" width="22" height="3.66667" rx="1" fill={color} />
  <rect y="6.66699" width="22" height="3.66667" rx="1" fill={color} />
  <rect y="13.2671" width="22" height="3.66667" rx="1" fill={color} />
</svg>
