<script>
    export let fill = '#292929'
</script>
<svg
  width="16"
  height="16"
  viewBox="0 0 16 16"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M8.06212 13.5031C7.77079 13.3499 7.42276 13.3499 7.13144 13.5031L3.98576 15.1569C3.25213 15.5426 2.3947 14.9196 2.53481 14.1027L3.13558 10.5999C3.19122 10.2755 3.08367 9.94455 2.84799 9.71481L0.303081 7.23414C-0.290436 6.65561 0.0370754 5.64764 0.857296 5.52845L4.37427 5.01741C4.69998 4.97008 4.98154 4.76551 5.1272 4.47036L6.70004 1.28345C7.06686 0.540201 8.1267 0.540203 8.49351 1.28345L10.0664 4.47037C10.212 4.76551 10.4936 4.97008 10.8193 5.01741L14.3363 5.52845C15.1565 5.64764 15.484 6.65561 14.8905 7.23415L12.3456 9.71481C12.1099 9.94455 12.0023 10.2756 12.058 10.5999L12.6587 14.1027C12.7989 14.9196 11.9414 15.5426 11.2078 15.1569L8.06212 13.5031Z"
    fill={fill}
  />
</svg>
