<script>
  import { params } from "@roxi/routify";
  import Spacer from "components/Spacer.svelte";
  import api from "tools/api";
  import text from "../_translation.js";
  import Projects from "components/Projects.svelte";
  import FolderIcon from "../_components/FolderIcon.svelte";
  import SortBy from "../_components/SortBy.svelte";

  let searhString = "";
  let data = { name: "", slides: [] };
  let isLoading = true;
  let isDragging = false;
  let sortBy = "UPDATED_DATE";

  const getSlides = () => {
    return api
      .get(`/api/v1/folders/${$params.slug}/`)
      .then((res) => (data = res))
      .finally(() => (isLoading = false));
  };
  getSlides();

  $: filtredSlides = searhString
    ? data.slides.filter(
        (item) =>
          item.name.toLowerCase().indexOf(searhString.toLowerCase()) > -1
      )
    : data.slides;

  $: sortedProjects = filtredSlides.sort((a, b) => {
    if (sortBy === "NAME") {
      return a.name.toLowerCase() > b.name.toLowerCase() ? 1 : -1;
    }
    if (sortBy === "CREATED_DATE") {
      return new Date(a.created_at) > new Date(b.created_at) ? -1 : 1;
    }
    if (sortBy === "UPDATED_DATE") {
      return new Date(a.updated_at) > new Date(b.updated_at) ? -1 : 1;
    }
  });

  const moveSlideToFolder = ({ slide, folder }) => {
    return api
      .patch(`/api/v1/slides/${slide}/update/`, {body: {folder}})
      .catch(() => {});
  };
  getSlides();

  const onDrop = async (options) => {
    await moveSlideToFolder(options);
    getSlides();
  };
</script>

<Spacer size={12} />
<div class="searchContainer">
  <input
    placeholder={$text("SEARCH")}
    bind:value={searhString}
    class="search"
  />
  <SortBy bind:sortBy />
</div>

<Spacer size={16} />
{#if isDragging}
  <div class="folderWrapper">
    <div class="folder droppable" data-slug="no_folder">
      <div class="folderIcon"><FolderIcon /></div>
      <div class="folderNameContainer">
        <div class="foldername">{$text("ROOT_FOLDER_NAME")}</div>
      </div>
    </div>
  </div>
{:else}
  <a href="/cabinet">{$text("MAIN")}</a>
  <Spacer size={8} />
  <div class="folderName">{data.name}</div>
{/if}

{#if !isLoading && filtredSlides.length === 0}
  <h1>
    {data.slides.length === 0
      ? $text("FOLDER_IS_EMPTY")
      : $text("NOTHING_FOUND")}
  </h1>
{/if}

<Projects projects={sortedProjects} useDrag={true} bind:isDragging {onDrop} />
<a href={`/slide?folder=${$params.slug}`} class="new"
  >{$text("CREATE_SLIDES")}</a
>
<Spacer size={96} />

<style>
  .folderWrapper :global(.dragOver path) {
    fill: #03a8b9;
  }
  .folderWrapper {
    box-sizing: border-box;
    color: #4d4d4d;
    text-decoration: none;
  }
  .folderIcon:hover :global(svg) {
    box-shadow: 0px 20px 50px rgb(255 175 0 / 21%);
  }
  .folder {
    border-radius: 8px;
    width: 150px;
    position: relative;
  }
  .foldername {
    word-break: break-word;
    font-size: 14px;
    user-select: none;
    -webkit-user-select: none;
  }
  .folderIcon {
    cursor: pointer;
    width: 60px;
    display: block;
  }
  .folderName {
    font-size: 32px;
    font-weight: bold;
  }
  .searchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search {
    max-width: 300px;
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(255 255 255 / 1);
    border-radius: 10px;
    padding: 16px 24px;
    line-height: 1.2;
    display: block;
    width: 100%;
    border: 1px solid #dfdfdf;
    margin: 0;
  }
  .search:focus {
    outline: none;
  }
  .search:hover,
  .search:focus {
    border-color: #b2b8bf;
  }
  h1 {
    text-align: center;
    margin-top: 20vmin;
  }
  .new {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffaf00;
    box-shadow: 0px 20px 50px rgba(255, 175, 0, 0.21);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    padding: 16px 32px;
    user-select: none;
    -webkit-user-select: none;
  }
  .new:hover {
    text-decoration: none;
  }
  @media (max-width: 600px) {
    .new {
      font-size: 16px;
      white-space: nowrap;
    }
    .searchContainer {
      flex-direction: column;
      align-items: flex-start;
    }
    .search {
      margin-bottom: 16px;
    }
  }
</style>
