<script>
  import text from "../_translation.js";
  export let isOpen;
  export let multi;
  export let confirmImage;
  export let selectedImage;
</script>

<button type="button" class="close" on:click={() => (isOpen = false)}>
  {$text("CANCEL")}
</button>
<button
  type="button"
  disabled={multi ? !Object.keys(selectedImage).length : !selectedImage}
  on:click={confirmImage}
  class="select"
>
  {$text("SELECT")}
</button>

<style>
  .select {
    border: none;
    background: #ffaf00;
    box-shadow: 0px 20px 50px rgba(255, 175, 0, 0.21);
    border-radius: 8px;
    color: white;
    padding: 8px 16px;
  }
  .select:disabled {
    background: silver;
    box-shadow: none;
  }
  .close {
    color: #03a8b9;
    background: none;
    border: none;
  }
</style>
