<script>
  import text from "../_translation.js";
  import Loader from "components/Loader.svelte";
  import Spacer from "components/Spacer.svelte";
  import { apiUrl } from "config";
  
  export let tab;
  export let isOpen
  export let multi
  export let selectedImage;
  export let selectImage;
  export let confirmImage;
  let isLoadingGallery = false;
  let gallery = [];


  const getGallery = () => {
    isLoadingGallery = true;
    fetch(`${apiUrl}/api/v1/media/`, {
      credentials: "include",
    })
      .then((res) => res.json())
      .then((data) => (gallery = data.filter((item) => item.image)))
      .finally(() => (isLoadingGallery = false));
  };
  $: {
    if (tab === "gallery" || isOpen) {
      getGallery();
    }
  }
</script>

{#if isLoadingGallery}
  <Loader>Загружаем</Loader>
{:else if gallery.length === 0}
  {$text("NO_IMAGES")}
{:else}
  <div class="galleryWrapper">
    <div class="gallery">
      {#each gallery as item}
        <div class="imageWrapper">
          <div
            class="imageBg"
            class:selected={multi
              ? selectedImage[item.image]
              : item.image === selectedImage}
          >
            <div
              class="image"
              on:click={() => selectImage(item.image)}
              on:dblclick={() => {
                selectImage(item.image);
                confirmImage();
              }}
              style={`background-image: url(${item.image})`}
            />
          </div>
        </div>
      {/each}
    </div>
    <Spacer size={16} />
  </div>
{/if}

<style>
  .galleryWrapper {
    overflow: hidden;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px -16px 0;
    justify-content: flex-start;
  }
  .imageBg {
    position: relative;
    background: #36474f;
    width: 100%;
    padding-top: 79%;
    border-radius: 8px;
  }
  .imageWrapper {
    cursor: pointer;
    padding: 0 16px 16px 0;
    width: 33.33%;
    box-sizing: border-box;
  }
  .image {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 8px;
    background-position: center;
    background-size: fit;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  .selected {
    background: #03a8b9;
  }
  @media (max-width: 600px){
    .imageWrapper{
      width: 50%;
    }
  }
</style>
