<script>
  import Spacer from "components/Spacer.svelte";

  import text from "../_translation.js";
  export let tab;
</script>

<button
  type="button"
  on:click={() => (tab = "upload")}
  class="tab"
  class:isActive={tab === "upload"}
>
  {$text("UPLOAD")}
</button>
<button
  type="button"
  on:click={() => (tab = "gallery")}
  class="tab"
  class:isActive={tab === "gallery"}
>
  {$text("LIB")}
</button>
<button
  type="button"
  on:click={() => (tab = "stock")}
  class="tab"
  class:isActive={tab === "stock"}
>
  {$text("STOCK")}
</button>
<div class="divider" />
<Spacer />

<style>
    .tab {
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid transparent;
    margin: 0 8px 0 0;
    cursor: pointer;
  }
  .isActive {
    border-bottom: 2px solid #03a8b9;
  }
  .divider {
    height: 1px;
    background: #f2f2f2;
  }
</style>
