<script>
  import Loader from "components/Loader.svelte";
  import text from "../_translation.js";
  import { inview } from "svelte-inview";
  import Search from "./Search.svelte";
  import { toast } from "@zerodevx/svelte-toast";
  export let multi;
  export let selectedImage;
  export let selectImage;
  export let confirmImage;

  const token = "563492ad6f917000010000019c87d2715b6f4148852d238d72a99448";
  let searchString;
  let nextPage;
  let photos = [];
  let isLoading = false;
  let isSearched = false;

  const makeSearch = async () => {
    if(!searchString) return
    isLoading = true;
    photos = [];
    try{
      const res = await fetch(
      `https://api.pexels.com/v1/search?query=${encodeURIComponent(
        searchString
      )}&locale=ru-RU&per_page=20`,
      { headers: { Authorization: token } }
    );

    const data = await res.json();
    if(!data.photos) {
      throw new Error(data.code)
    }
    nextPage = data.next_page;
    photos = data.photos;
    } catch(err){
      toast.push(err)
    }
   
    isLoading = false;
    isSearched = true;
  };

  const loadMore = async () => {
    console.log("loadmore");
    if (!nextPage) return;
    isLoading = true;
    const res = await fetch(nextPage, { headers: { Authorization: token } });

    const data = await res.json();
    nextPage = data.next_page;
    photos = [...photos, ...data.photos];
    isLoading = false;
  };
</script>

<div class="container">
  <form on:submit|preventDefault={makeSearch} class="searchBar">
    <input
      type="text"
      bind:value={searchString}
      placeholder={$text("SEARCH_IMAGE_PLACEHOLDER")}
    />
    <button class="searchButton" on:click={makeSearch}><Search /></button>
  </form>

  {#if !isLoading && !isSearched}
    <div class="nothindFound">{$text("TYPE_TO_SEARCH")}</div>
  {:else if !isLoading && isSearched && photos.length === 0}
    <div class="nothindFound">{$text("NO_IMAGES_FOUND")}</div>
  {:else}
    <div class="galleryWrapper">
      <div class="gallery">
        {#each photos as item}
          <div class="imageWrapper">
            <div
              class="imageBg"
              class:selected={multi
                ? selectedImage[item.src?.original]
                : item.src?.original === selectedImage}
            >
              <div
                class="image"
                on:click={() => selectImage(item.src?.original)}
                on:dblclick={() => {
                  selectImage(item.src?.original);
                  confirmImage();
                }}
                style={`background-image: url(${item.src?.tiny})`}
              />
            </div>
          </div>
        {/each}
      </div>
    </div>
    <div
      class="intersectionObserver"
      use:inview={{
        rootMargin: "10px",
      }}
      on:change={loadMore}
    />
  {/if}
  {#if isLoading}
    <Loader>Загружаем</Loader>
  {/if}
</div>

<style>
  .searchBar {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  .searchButton {
    background: none;
    border: none;
    margin: 0 0 0 8px;
    padding: 0;
  }
  .intersectionObserver {
    height: 10px;
  }
  .nothindFound {
    text-align: center;
    font-size: 24px;
    margin-top: 16px;
  }
  .galleryWrapper {
    overflow: hidden;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px -16px 0;
    justify-content: flex-start;
  }
  .imageBg {
    position: relative;
    background: #36474f;
    width: 100%;
    padding-top: 79%;
    border-radius: 8px;
  }
  .imageWrapper {
    cursor: pointer;
    padding: 0 16px 16px 0;
    width: 33.33%;
    box-sizing: border-box;
  }
  .image {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 8px;
    background-position: center;
    background-size: fit;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  .selected {
    background: #03a8b9;
  }
  input {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(255 255 255 / 1);
    border-radius: 10px;
    padding: 16px 24px;
    line-height: 1.2;
    display: block;
    width: 100%;
    border: 1px solid #dfdfdf;
    margin: 0;
  }
  input:focus {
    outline: none;
  }
  input:hover,
  input:focus {
    border-color: #b2b8bf;
  }

  @media (max-width: 600px){
    .imageWrapper{
      width: 50%;
    }
  }
</style>
