<script>
  import Dropzone from "svelte-file-dropzone";
  import Loader from "components/Loader.svelte";
  import text from "../_translation.js";

  export let isUploading;
  export let handleFilesSelect;
</script>

{#if isUploading}
  <Loader>{$text("LOADING")}</Loader>
{:else}
  <Dropzone
    on:drop={handleFilesSelect}
    accept="image/*"
    multiple={false}
    containerStyles="cursor:pointer"
  >
    {$text("SELECT_IMAGE")}
  </Dropzone>
{/if}

<style>
</style>
