<script>
  import { fade } from "svelte/transition";
  import { onMount } from "svelte";
  import Close from "assets/Close.svelte";
  import text from "../_translation.js";
  import { user } from "store/auth";
  export let slide = {};
  let isSkipped = localStorage.getItem("TESY_COPY_SLIDE_HINT_SKIPPED");
  let isVisible = true;
  $: showHint = $user.isLoading ? false : $user?.userData && slide.owner && slide?.owner !== $user?.userData?.username && !isSkipped && isVisible;
  const hideHint = () => {
    if (!showHint) return;
    isVisible = false;
  };
  onMount(() => {
    document.body.addEventListener("click", hideHint, true);
    return () => {
      document.body.removeEventListener("click", hideHint, true);
    };
  });
  const skipHint = () => {
    isVisible = false;
    localStorage.setItem("TESY_COPY_SLIDE_HINT_SKIPPED", "true");
  };

</script>

{#if showHint}
  <div class="conteainer" out:fade|local={{ duration: 300 }}>
    <div class="close" on:click={skipHint}><Close size={16} /></div>
    {$text("COPY_SLIDE_HINT")}
  </div>
{/if}

<style>
  .conteainer {
    position: fixed;
    right: 30px;
    top: 81px;
    color: white;
    font-size: 12px;
    background-color: #ffaf00;
    border-radius: 8px;
    box-shadow: 0px 20px 50px rgb(255 175 0 / 21%);
    padding: 16px 24px 16px 16px;
    max-width: 320px;
    box-sizing: border-box;
    text-align: left;
  }
  .close :global(svg) {
    fill: white;
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px;
    cursor: pointer;
  }
  @media (max-width: 600px) {
    .conteainer {
      right: 16px;
      margin-left: 16px;
    }
  }
</style>
