<script>
  import Spacer from "components/Spacer.svelte";
  import NewProject from "./NewProject.svelte";
  import { slidesText } from "store/lang";
  import Star from "assets/Star.svelte";
  
  export let projects = [];
  let selectedTemplate;
  const onClick = (project) => {
    selectedTemplate = project.slug;
  };
  export let toggleFavorite
  
</script>

<Spacer size={24} />
<div class="wrapper">
  <div class="projects">
    {#each projects as project, i (project.slug)}
      <div class="project" on:click={(e) => onClick(project)}>
        <div
          class="cover"
          style={`background-image: url(${
            project.preview?.startsWith("http")
              ? project.preview
              : `https://teasy.one${project.preview}`
          })`}
        >
          <div class="starWrapper" on:click|stopPropagation={() => toggleFavorite(project)}>
            <Star
              fill={project.is_favorite ? "rgb(255, 175, 0)" : "rgba(255, 255, 255, 0.7)"}
            />
          </div>
        </div>
        {#if project.name}
          <Spacer size={16} />
          <div class="projectTitle">{$slidesText(project.name)}</div>
        {/if}
      </div>
    {/each}
  </div>
</div>
<NewProject bind:selectedTemplate />

<style>
  .starWrapper {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 34px;
    min-height: 34px;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 6px;
    right: 6px;
  }
  .starWrapper:hover {
    background: rgba(0, 0, 0, 0.5);
  }
  .wrapper {
    overflow: hidden;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px -16px 0;
    -webkit-touch-callout: none !important;
    
  }
  .project {
    width: 25%;
    cursor: pointer;
    padding: 0 16px 16px 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
  .project:hover {
    text-decoration: none;
  }
  .project:hover .cover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .cover {
    padding-top: 50%;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.2s;
    position: relative;
  }
  .projectTitle {
    color: #4d4d4d;
    text-align: center;
    font-size: 14px;
  }
  @media (max-width: 600px) {
    .project {
      width: 100%;
    }
  }
</style>
