<div class="watermark"><img src="/images/watermark.svg" alt="watermark" /></div>
<style>
    .watermark{
        position: fixed;
        bottom: 16px;
        left:16px;
        opacity: 0.5;
        width: 15vmin;
    }
</style>