<script>
  import defaultData from "./data";
  const data = window.data || defaultData;
  const cover =
    "https://teasy.one/media/user_pics/photo-1503387837-b154d5074bd2.jpeg";
  import ProjectCover from "common/ProjectCover.svelte";
  import BlockCover from "common/BlockCover.svelte";
  import ListPage from "common/ListPage.svelte";
  import FieldPage from "./FieldPage.svelte";
</script>

<ProjectCover
  {cover}
  projectTitle={data.projectName}
  projectSubtitle={data.category?.value?.toUpperCase()}
/>

<BlockCover title={"структура шаблона"} />
{#each data.blocks as block}
  <FieldPage {cover} title={block.blockName} list={block.fields} />
{/each}
<ListPage
  {cover}
  title="Контакты"
  itemsPerPage={5}
  list={[
    ...(data.name ? [{ value: data.name, style: "font-weight:bold;" }] : []),
    ...(data.company ? [{ value: data.company }] : []),
    ...(data.email
      ? [{ value: data.email, link: `mailto:${data.email}` }]
      : []),
    ...(data.phone ? [{ value: data.phone }] : []),
    ...(data.telegram ? [{ value: data.telegram }] : []),
  ]}
/>
