<script>
  import BlockCover from 'common/BlockCover.svelte'
  export let list = []
  export let cover = null
  export let title = null
  let filtredList = list.filter((item) => item.fieldName)

  let pages = []
  filtredList.forEach((item, i) => {
    if (i % 2 === 0) {
      pages.push([])
    }
    pages[pages.length - 1].push(item)
  })
  pages = pages
</script>

{#if filtredList.length}
  <BlockCover {cover} {title} />
{/if}
{#each pages as page}
  <div class="page description">
    {#each page as item}
      <div class="item description">
        
        <div class="fieldName" style={item.style || ''}>{item.fieldName}</div>
        {#if item.fieldDescription}<div class="fieldDescription">{item.fieldDescription}</div>{/if}
        {#if item.type?.value || item.comments}<div class="spacer"/>{/if}
        {#if item.type?.value}<div class="type">Тип: {item.type.value}</div>{/if}
        {#if item.comments}<div class="comments">{item.comments}</div>{/if}
        
      </div>
    {/each}
  </div>
{/each}

<style>
  .spacer{
    height: 8px;
  }
  .type{
    font-size: 3vmin;
    opacity: 0.5;
  }
  .description {
    display: flex;
    align-items: center;
    background: #fff;
    color: #0f0804;
    justify-content: center;
    flex-direction: column;
  }
  .item {
    font-size: 1.5vw;
    margin-top: 1vh;
    margin-bottom: 4vh;
  }
  .fieldDescription {
    font-size: 5vmin;
    opacity: 0.7;
  }
  .type, .comments{
    font-size: 3vmin;
    opacity: 0.5;
  }
  .fieldName {
    font-size: 5vmin;
    margin-top: 2vh;
    text-align: left;
    padding: 0 2vw;
    white-space: pre-wrap;
  }
    @media (max-width: 600px) {
    .item {
      font-size: 4.5vmin;
    }
    .fieldDescription {
      font-size: 4vmin;
    }
    .fieldName {
      font-size: 4vmin;
    }
  }
</style>
